<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>需求单管理 -
<@cm.sysName />
</title>
<@cm.css />
<@cm.javascript />
<script>
    seajs.use("manager/requirement/requirement-list");  
</script>
</head>

<body>
<div class="main">
  <@cm.top />
  <form id="searchForm" name="searchForm" method="post" action="" class="form-inline form-search">
    <div class="form-group"> 订单状态
      <select name="status" id="status" class="form-control input-sm required">
        <option value="">-请选择-</option>
        <@ValueSet code="requirement_status" value="${RequestParameters.status!}" />
      </select>
      目的地
      <select name="arriveDestination" id="arriveDestination" class="form-control input-sm required">
        <option value="">-请选择-</option>
        <@ValueSet code="destination" value="${RequestParameters.arriveDestination!}" />
      </select>
      联系人
      <input type="text" class="form-control input-sm" name="linkman" id="linkman"  value="${RequestParameters.linkman!}" placeholder="联系人">
      手机号码
      <input type="text" class="form-control input-sm" name="mobile" id="mobile"  value="${RequestParameters.mobile!}" placeholder="手机号码">
    </div>
    <button type="button" class="searchBtn btn btn-primary btn-sm"> <span class="glyphicon glyphicon-search"></span> 搜索 </button>
  </form>
  <form id="controlForm" name="controlForm" method="post" action="">
    <div class="panel panel-default">
      <div class="panel-heading"> 需求单列表 </div>
      <div class="panel-body form-inline panel-opt"> <a href="###" class="btn btn-default btn-sm delBtn" role="button"> <span class="glyphicon glyphicon-trash"></span> 删除</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form-group">调整需求单状态
          <select name="status" id="status" class="form-control input-sm">
            <option value="">-请选择-</option>
            <@ValueSet code="requirement_status" value="${RequestParameters.status!}" />
          </select>
        </div>
        <a href="###" class="btn btn-default btn-sm statusBtn" role="button"> <span class="glyphicon glyphicon-ok"></span> 确定</a> </div>
      <table border="0" align="center" cellspacing="0" class="table table-striped table-hover  table-result">
        <thead>
          <tr>
            <th width="5%"></th>
            <th width="15%">操作</th>
            <th width="8%">编号</th>
            <th width="8%">出发地</th>
            <th width="8%">目的地</th>
            <th width="8%">人数</th>
            <th width="10%">出发时间</th>
            <th width="10%">人均预算</th>
            <th width="8%">联系人</th>
            <th width="10%">手机</th>
            <th width="10%">需求单状态</th>
          </tr>
        </thead>
        <#list retList as item>
        <tr>
          <td align="center"><input type="checkbox" name="id" id="id" value="${item.id}"></td>
          <td><a href="view?id=${item.id}">详情</a> <a href="${request.contextPath}/manager/requirementremark/list?requirementId=${item.id}">备忘</a></td>
          <td>${item.id!}</td>
          <td>${item.startCountry!}</td>
          <td>${item.arriveDestination!}</td>
          <td>${item.membership!}</td>
          <td>${item.startTime!}</td>
          <td>${item.budget!}</td>
          <td>${item.linkman!}</td>
          <td>${item.mobile!}</td>
          <td><@ValueSetWrite code="requirement_status" value="${item.status!}" /></td>
        </tr>
        </#list>
      </table>
    </div>
  </form>
  <@cm.page />
  <@cm.bottom />
</div>
</body>
</html>
