<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产品资源管理 -
<@cm.sysName />
</title>
<@cm.css />
<@cm.javascript />
<script>
    seajs.use("manager/productresource/productresource-add");  
</script>
</head>

<body>
<div class="main">
  <@cm.top />
  <form name="saveFrm" id="saveFrm" method="post" action="add.json">
    <div class="panel panel-default">
      <div class="panel-heading"> 新增产品资源 </div>
      <table border="0" width="100%" align="center" cellspacing="0" class="table table-striped table-bordered table-form">
        <tr>
          <th>产品名称 <span class="error">*</span></th>
          <td colspan="3"><input type="text" class="form-control input-sm required name" name="name"  id="name" placeholder="产品名称" value=""></td>
        </tr>
        <tr>
          <th width="15%">出发国家 <span class="error">*</span> </th>
          <td width="35%"><select name="startCountry" id="startCountry" class="form-control input-sm required cascade" cascadeId="#startCity" cascadeParam="#startCountry">
              <option value="">-请选择-</option>
              <@ValueSet code="country" value="" />
            </select></td>
          <th width="15%">出发城市 <span class="error">*</span> </th>
          <td width="35%"><select name="startCity" id="startCity" class="form-control input-sm required" defaultValue="" cascadeCode="city">
            </select></td>
        </tr>
        <tr>
          <th>到达国家 <span class="error">*</span> </th>
          <td><select name="arriveCountry" id="arriveCountry" class="form-control input-sm required cascade" cascadeId="#arriveCity" cascadeParam="#arriveCountry">
              <option value="">-请选择-</option>
              <@ValueSet code="country" value="" />
            </select></td>
          <th>到达城市 <span class="error">*</span> </th>
          <td><select name="arriveCity" id="arriveCity" class="form-control input-sm required" defaultValue="" cascadeCode="city">
            </select></td>
        </tr>
        <tr>
          <th>到达目的地 <span class="error">*</span> </th>
          <td><select name="arriveDestination" id="arriveDestination" class="form-control input-sm required cascade" cascadeId="#flightId,#groundId" cascadeParam="#arriveDestination">
              <option value="">-请选择-</option>
              <@ValueSet code="destination" value="" />
            </select></td>
          <th>产品类型 <span class="error">*</span></th>
          <td><select name="productType" id="productType" class="form-control input-sm required cascade" cascadeId="#productId" cascadeParam="#productType">
              <option value="">-请选择-</option>
              <@ValueSet code="product_type" value="" />
            </select></td>
        </tr>
        <tr>
          <th>选择产品 <span class="error">*</span></th>
          <td><select name="productId" id="productId" class="form-control input-sm required" defaultValue="" cascadeCode="product">
              <option value="">-请选择-</option>
            </select></td>
          <th>绑定航班</th>
          <td><select name="flightId" id="flightId" class="form-control input-sm" defaultValue="" cascadeCode="flight">
              <option value="0">-请选择-</option>
            </select></td>
        </tr>
        <tr>
          <th>所属地接 <span class="error">*</span></th>
          <td colspan="3"><select name="groundId" id="groundId" class="form-control input-sm required cascade" defaultValue="" cascadeCode="ground" cascadeId="#tagContent" cascadeParam="#arriveDestination,#groundId">
              <option value="">-请选择-</option>
            </select></td>
        </tr>
        <tr>
          <th>单项标签</th>
          <td colspan="3"><input type="hidden" name="tag" id="tag">
            <ul class="tags" id="tagContent" defaultValue="" cascadeCode="tag">
            </ul></td>
        </tr>
        <tr>
          <th>行程天数 </th>
          <td><input type="text" class="form-control input-sm required number" name="travelDays"  id="travelDays" placeholder="行程天数" value=""></td>
          <th>住宿晚数</th>
          <td><input type="text" class="form-control input-sm required" name="stayDays"  id="stayDays" placeholder="住宿晚数" value=""></td>
        </tr>
        <tr>
          <th>最后预订提前天数 <span class="error">*</span> </th>
          <td><input type="text" class="form-control input-sm required" name="earlyDays"  id="earlyDays" placeholder="最后预订提前天数" value=""></td>
          <th>排序 <span class="error">*</span></th>
          <td><input type="text" class="form-control input-sm required" name="orderValue"  id="orderValue" placeholder="排序" value=""></td>
        </tr>
        <tr>
          <th>基准起价 <span class="error">*</span> </th>
          <td><input type="text" class="form-control input-sm required" name="standardPrice"  id="standardPrice" placeholder="基准起价" value=""></td>
          <th>互动推荐 <span class="error">*</span></th>
          <td><@ValueSet name="interactRecommend" code="yes_no_r" value="" /></td>
        </tr>
        <tr>
          <th>是否上架 <span class="error">*</span> </th>
          <td><@ValueSet name="whetherShelf" code="yes_no_r" value="" /></td>
          <th>班期起始时间 <span class="error">*</span></th>
          <td><input type="text" class="form-control input-sm required date" name="flightCheduleStart"  id="flightCheduleStart" placeholder="班期起始时间" value="" readonly></td>
        </tr>
        <tr>
          <th>班期结束时间 <span class="error">*</span> </th>
          <td><input type="text" class="form-control input-sm required date" name="flightCheduleEnd"  id="flightCheduleEnd" placeholder="班期结束时间" value="" readonly></td>
          <th>星期 <span class="error">*</span></th>
          <td><@ValueSet name="week" code="week" value="" /></td>
        </tr>
        <tr>
          <th>是否特价 <span class="error">*</span> </th>
          <td><@ValueSet name="salePrice" code="yes_no_r" value="" /></td>
          <th>是否婚典推荐 <span class="error">*</span></th>
          <td><@ValueSet name="marryRecommend" code="yes_no_r" value="" /></td>
        </tr>
        <tr>
          <th>是否定制 <span class="error">*</span> </th>
          <td><@ValueSet name="customMade" code="yes_no_r" value="" /></td>
          <th>是否套餐 <span class="error">*</span></th>
          <td><@ValueSet name="combo" code="product_resource_combo" value="" /></td>
        </tr>
        <tr>
          <th>点赞数 <span class="error">*</span> </th>
          <td><input type="text" class="form-control input-sm required" name="somePraise"  id="somePraise" placeholder="点赞数" value=""></td>
          <th></th>
          <td></td>
        </tr>
        <tr>
          <td colspan="4" align="center"><input type="hidden" name="id" id="id" value="">
            <button type="button" class="saveBtn btn btn-primary btn-sm"> <span class="glyphicon glyphicon-floppy-saved"></span> 保存 </button>
            <a href="list" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-chevron-left"></span> 返回</a></td>
        </tr>
      </table>
    </div>
  </form>
</div>
</body>
</html>
