<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<@c.css />
<style type="text/css">
.content-m1-col4 {
background-color:${color1};color:${color2};
}
.content-m1-col1:hover .content-m1-col4, .content-m1-col2:hover .content-m1-col4 {
background-color:${color3};color:${color4};
}
.content-m1-col1:hover .content-m1-col4 .s1, .content-m1-col2:hover .content-m1-col4 .s1 {
color:${color4};
}

.content-m1-col4 a{ color:${color2} }
.content-m1-col4 a:hover{ color:${color4}}
</style>
<link href="../../../css/style.css" rel="stylesheet" type="text/css">
<@c.javascript />
<script>
	seajs.use("front/index");  
	seajs.use("front/common");  
</script>
</head>

<body>

<@c.top currentIndex="1" />
<div class="main main-row1 main-bg1"></div>
<div class="content-g" style="width:100%;">
  
  <div id="slideBox" class="slideBox" style="margin:auto;">
     
    <div class="bd">
      <ul>
        <#list galleryList as item>
        <li><a href="${item.link}" target="_blank"><img src="${request.contextPath}/images/uploadDir${item.imagePath!}" /></a></li>
        </#list>
      </ul>
    </div>
    <!-- 下面是前/后按钮代码，如果不需要删除即可 --> 
    <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a> </div>
</div>
<div class="main main-row1 main-bg2"> </div>
<div class="main content">
  <div class="content-m1">
      <form>
      <div class="content-m1-col1"> 
        <div class="content-m1-col3" style="background-image:url(${request.contextPath}/images/uploadDir${customizeImage!})">
          <div class="content-m1-s1">
            <div class="content-m1-s11">
              <input id="chufa" placeholder="" name="chufa" type="text">
              <input type="hidden" name="destination" id="destination">
、 <span class="phTxt"> 输入我的出发地 </span> </div>
          </div>
          <div class="content-m1-s2">
            <div class="content-m1-s22 destinationParent">
              <div class="m1 destinationChild">
                <div class="m2">请选择目的地</div>
                <ul>
                  <#list destinationList as item>
                  <li><a href="#0" class="destination" value="${item.value}">${item.name}</a></li>
                  </#list>
                </ul>
              </div>
              <span class="phTxt1"> 我的目的地 </span> </div>
          </div>
          <div class="content-m1-s3">
            <div class="content-m1-s33 customizeBtn">开始定制 </div>
          </div>
        </div>
        <div class="content-m1-col4"> 
        <span class="t1">私家订制</span>
	    <span class="t2">有<span class="s1"> ${customizeNum!} </span>接受了雅米定制服务 </span>  
        
        </div>
        <div style="position:absolute; width:20px; height:27px; top:300px; left:25px;"><img src="${request.contextPath}/images/yj.png" width="20" height="27"></div>
        <div style="position:absolute; width:20px; height:27px; top:25px; left:282px;"><img src="${request.contextPath}/images/yj2.png" width="20" height="27"></div>
      </div>
       </form>
    <div class="content-m1-col2">
      <div class="content-m1-col3 photoAlbum" style=" cursor:pointer;background-image:url(${request.contextPath}/images/uploadDir${photoAlbum.indexImagePath!})"> <a href="${request.contextPath}/photoalbum/detail?id=${photoAlbum.id}" target="_blank"><img src="${request.contextPath}/images/uploadDir${photoAlbum.indexImagePath!}" width="303" height="244"></a></div>
      <div class="content-m1-col4" ><a href="${request.contextPath}/photoalbum/detail?id=${photoAlbum.id}" class="photoAlbum" target="_blank">
      <span class="t1">照片分享 游记分享</span>
      <span class="t2">${photoAlbum.title}</span>      
      </a></div>  
      <div style="position:absolute; width:20px; height:27px; top:300px; left:0px;"><img src="${request.contextPath}/images/yj.png" width="20" height="27"></div>
      <div style="position:absolute; width:20px; height:27px; top:25px; left:283px;"><img src="${request.contextPath}/images/yj2.png" width="20" height="27"></div>
    </div>
    <div class="content-m1-col1">
      
      <div class="content-m1-col3" style="background-image:url(images/image4.jpg)">
      <div class="content-g" style="width:100%;">
  
  <div id="slideBox" class="slideBox small">
     
    <div class="bd">
      <ul>
        <#list smallgalleryList as item>
        <li>
        <a href="${item.link}" target="_blank"><img src="${request.contextPath}/images/uploadDir${item.imagePath!}" /></a>
        <div class="content-m1-col4"><a href="${item.link}" target="_blank">        
        <span class="t1">${item.title1}</span>
	    <span class="t2">${item.title2}</span>  
        </a></div>
        </li>
        </#list>
      </ul>
    </div>
    <!-- 下面是前/后按钮代码，如果不需要删除即可 --> 
    <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a> </div>
</div>
      </div>
      <div style="position:absolute; width:20px; height:27px; top:300px; left:25px;"><img src="${request.contextPath}/images/yj.png" width="20" height="27"></div>
      <div style="position:absolute; width:20px; height:27px; top:25px; left:282px;"><img src="${request.contextPath}/images/yj2.png" width="20" height="27"></div>
    </div>
  </div>
  <div class="main1 main-row1 main-bg2"></div>
  <div class="content-m2"  >
    <div class="content-m2-col1">
      <div class="content-m2-col2" style="background-image:url(${request.contextPath}/images/uploadDir${yamiDiary.indexImagePath!})">
      </div>
      <div class="content-m2-col3">
       ${yamiDiary.content!}
      </div>
    </div>
    <div class="content-m2-col4"> 
    <a target="_blank" href="${giftadLink!}"><img src="${request.contextPath}/images/uploadDir${giftadImage!}" width="604" height="348"></a> 
    </div>
  </div>
</div>
<@c.bottom />
</body>
</html>
