<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>相册游记</title>
<@c.css />
<link href="../../../css/style.css" rel="stylesheet" type="text/css">
<@c.javascript />
<script>
    seajs.use("front/photoalbum-detail");  
</script>
</head>

<body>
<@c.top currentIndex="6" />
<div class="main main-row1 main-bg2"> </div>
<div class="main">
<table width="1280" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="165" bgcolor="#ebeae6">&nbsp;</td>
    <td width="950" height="520" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><div class="product-content-m-s3 destinationMain"> <span class="product-content-m-s1 text1"> 所有相册 /</span> <span class="product-content-m-s2 destinationParent"> 按目的地查看</span>
        <div class="product-content-m-s4 destinationChild">
          <div class="product-content-m-s5">请选择目的地</div>
          <ul>
            <#list destinationList as item>
            <li><a href="#" class="destination" value="${item.value}">${item.name}</a></li>
            </#list>
          </ul>
        </div>
      </div>
      </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
        <table width="830" border="0" align="center" cellpadding="0" cellspacing="0" class="photoalbumDetail">
          <tr>
            <td width="474" height="50" align="center" ><span class="s1">${photoAlbum.title}</span></td>
            </tr>
          <tr>
            <td class="s2">
            <#list photoAlbum.timelineList as timeline>
          <div style=" position:relative">
          <div style="position:absolute; top:0; left:-12px; width:63px; height:25px;"><img src="${request.contextPath}/images/timeline.jpg"></div>
          <div style="position:absolute; top:0; left:50px; height:26px; background-color:#74bbfd; line-height:26px; color:#fff; padding:0 10px;">${timeline.title}</div>
          <#list timeline.contentList as content>
            <br>
            <#if content.style=='1'>
              <div style=" padding:20px 0 15px 50px; line-height:22px;">${content.content}</div>
            <#else>
              <div style=" padding:20px 0 15px 50px;">
              <img src="${request.contextPath}/images/uploadDir${content.imagePath!}" width="777" height="288">
              <div style="text-align:center;">${content.title}</div>
              </div>
            </#if>
          </#list> 
          </div>
        </#list> 
         
            </td>
            </tr>
        </table>

        
        </td>
      </tr>
       <tr>
            <td height="50" align="right"><div class="product-content-m2-s7"><@c.page /><div></td>
          </tr>
    </table>
      </td>
    <td width="165" bgcolor="#ebeae6"></td>
  </tr>
  <tr>
      <td bgcolor="#ebeae6"></td>
      <td height="10" valign="top" bgcolor="#EBEAE6"></td>
      <td bgcolor="#ebeae6"></td>
    </tr>
</table>
</div>
<@c.bottom />
</body>
</html>
