<#list retList as item>
<div class="product-left-s2">
  <div class="s1"></div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="48"><img src="${contextPath}/${item.memberImagePath!}" width="48" height="48"></td>
      <td><div class="product-left-s4"></div>
        <div class="product-left-s5">${item.memberUserName}：${item.content!}</div>
        <div class="product-left-s6"></div></td>
    </tr>
    <tr>
      <td colspan="2" height="30"></td>
    </tr>
  </table>
</div>
<#if item.replyContent??>
<div class="product-left-s2">
  <div class="s2"></div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="right"><div class="product-left-s7"></div>
        <div class="product-left-s8"><span class="product-left-s10">雅米：</span>${item.replyContent!}。</div>
        <div class="product-left-s9"></div></td>
      <td width="48"><img src="${contextPath}/images/yami.jpg" alt="" width="48" height="48"></td>
    </tr>
    <tr>
      <td colspan="2" height="30"></td>
    </tr>
  </table>
</div>
</#if>
</#list>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="15"></td>
  </tr>
  <tr>
    <td height="50"><div  class="product-content-m2-s7"> ${pageInfo!} </div></td>
  </tr>
</table>
