<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<@c.css />
<style type="text/css">
.content-m1-col4 {
background-color:$ {
color1
}
;
color:$ {
color2
};
}
.content-m1-col1:hover .content-m1-col4, .content-m1-col2:hover .content-m1-col4 {
background-color:$ {
color3
}
;
color:$ {
color4
};
}
.content-m1-col1:hover .content-m1-col4 .s1, .content-m1-col2:hover .content-m1-col4 .s1 {
color:$ {
color4
}
;
}
</style>
<link href="../../../css/style.css" rel="stylesheet" type="text/css">
<@c.javascript />
<script>
    seajs.use("front/product-list-m");  
</script>
</head>

<body>
<@c.top currentIndex="3" />
<div class="main main-row1 main-bg1"></div>
<div class="content-g destination-g">
  <div id="slideBox" class="slideBox md">
    <div class="hd">
      <ul>
        <#list galleryList as item>
        <li>${item_index + 1}</li>
        </#list>
      </ul>
    </div>
    <div class="bd">
      <ul>
        <#list galleryList as item>
        <li><img src="${request.contextPath}/images/uploadDir${item.imagePath!}" /></li>
        </#list>
      </ul>
    </div>
    <!-- 下面是前/后按钮代码，如果不需要删除即可 --> 
    <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a> </div>
</div>
<div class="main main-row1 main-bg2"> </div>

<table width="1280" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="162" bgcolor="#ebeae6">&nbsp;</td>
    <td width="955"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="587" valign="top" bgcolor="#EBEAE6"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="productList" bgcolor="#fff">
              <tr>
                <td height="60"><div class="product-content-m-s3"><span class="product-content-m-s1"> 婚典精选 /</span>  <span class="product-content-m-s2"> 按目的地查看</span></div></td>
              </tr>
              <#list retList as item>
              <tr class="productItem">
                <td><div class="product-content-m1-s5"><img src="${request.contextPath}/images/uploadDir${item.imagePath!}" alt="" width="549" height="180"></div>
                  <div class="product-content-m1-s6">${item.name!}</div>
                  <div class="product-content-m1-s7">${item.managerComment!}</div></td>
              </tr>
              <tr class="productItem">
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="30">&nbsp;</td>
                      <td width="25"><img src="${request.contextPath}/images/img1.jpg" width="17" height="19"></td>
                      <td width="56" class="product-content-m1-s8">288</td>
                      <td width="26"><img src="${request.contextPath}/images/img2.jpg" width="20" height="17"></td>
                      <td width="56" class="product-content-m1-s8">188</td>
                    </tr>
                  </table></td>
              </tr>
              </#list>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="40" align="center" bgcolor="#EBEAE6"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="5" bgcolor="#EBEAE6"></td>
                  </tr>
                  <tr>
                    <td height="40" align="center" bgcolor="#FFFFFF"><img id="moreBtn" style="cursor:pointer" src="${request.contextPath}/images/img4.jpg" width="24" height="21"></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          <td valign="top" bgcolor="#EBEAE6" class="groundInfo">&nbsp;</td>
        </tr>
      </table></td>
    <td width="163" bgcolor="#ebeae6">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#EBEAE6">&nbsp;</td>
    <td bgcolor="#EBEAE6"></td>
    <td bgcolor="#EBEAE6">&nbsp;</td>
  </tr>
</table>

<form action="more.json" method="post" id="listMore">
  <input type="hidden" name="pageNo" id="pageNo">
  <input type="hidden" name="arriveDestination" id="arriveDestination" value="${destination.id!}">
  <input type="hidden" name="marryRecommend" id="marryRecommend" value="1">
</form>
<@c.bottom />
</body>
</html>
