<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产品</title>
<@c.css />
<style type="text/css">
.content-m1-col4 {
background-color:$ {
color1
}
;
color:$ {
color2
};
}
.content-m1-col1:hover .content-m1-col4, .content-m1-col2:hover .content-m1-col4 {
background-color:$ {
color3
}
;
color:$ {
color4
};
}
.content-m1-col1:hover .content-m1-col4 .s1, .content-m1-col2:hover .content-m1-col4 .s1 {
color:$ {
color4
}
;
}
</style>
<link href="../../../css/style.css" rel="stylesheet" type="text/css">
<@c.javascript />
<script>
    seajs.use("front/product-detail");  
</script>
</head>

<body>
<@c.top currentIndex="1" />
 
<div class="main main-row1 main-bg2"> </div>
<div class="main">
<table width="1280" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="162" bgcolor="#ebeae6">&nbsp;</td>
    <td width="955"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="587" valign="top" bgcolor="#EBEAE6"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
              <tr>
                <td height="50" bgcolor="#FFFFFF"><div class="product-detail-s1">${productResource.name!}</div>
                <div style="text-align:center; padding:15px 0 0 100px;">
                <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                </div>
                </td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF">&nbsp;</td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF"><div class="product-content-m1-s5"><img src="${request.contextPath}/images/uploadDir${product.imagePath!}" alt="" width="549"  ></div></td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF" height="15"></td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF"><div class="product-detail-s2">${productIntroduce.title!}
                    <div class="arr <#if productIntroduce.expand?? && productIntroduce.expand=='0'>expand</#if>"></div>
                  </div>
                  <div class="product-detail-s3 introduce <#if productIntroduce.expand?? && productIntroduce.expand=='0'>hide</#if>"> ${productIntroduce.introduce!} </div></td>
              </tr>
            </table>
			
			<#if (flightSegmentList?size >0)>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF"><div class="product-detail-s2">参考航班
                    <div class="arr"></div>
                  </div>
                  <div class="product-detail-s4"> </div>
                  <div class="product-detail-s3 introduce">
                    <table width="558" border="0" cellspacing="0" cellpadding="0">
                      <#list flightSegmentList as item>
                      <tr class="product-detail-s5">
                        <td height="80" width="55">第${item.serialNumber!}段</td>
                        <td width="50"><img src="${request.contextPath}/images/uploadDir${item.imagePath!}" alt="" width="26" height="26"></td>
                        <td width="112">${item.flightNum!}<br>
                          ${item.name!}<br></td>
                        <td width="181"><p>起：${item.startAirport!}</p>
                          <p>降：${item.arriveAirport!}</p></td>
                        <td width="160">${item.startTime!}<br>
                          ${item.arriveTime!} <br></td>
                      </tr>
                      </#list>
                    </table>
                  </div></td>
              </tr>
            </table>
			</#if>
            <#list productIntroducelist as item>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF"><div class="product-detail-s2">${item.title}
                    <div class="arr <#if item.expand=='0'>expand</#if>"></div>
                  </div>
                  <div class="product-detail-s3 introduce <#if item.expand=='0'>hide</#if>"> ${item.introduce!} </div></td>
              </tr>
            </table>
            </#list>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
              <tr> </tr>
            </table></td>
          <td valign="top" bgcolor="#EBEAE6" class="groundInfo"><table width="347" border="0" align="right" cellpadding="0" cellspacing="0" bgcolor="#fff;">
            <tr>
              <td bgcolor="#FFFFFF">
              <div class="product-detail-left-s1 productP">团期和价格
                <div class="product-detail-left-s2 product"></div>
              </div>
              <#if productResource.combo =="0">
              <!-- 价格模板 -->              
              <div class="productPrice hide">
              <div class="product-detail-left-s3">
              
              <span class="standardPrice">￥${productResource.standardPrice!}</span> <span class="s1">起</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="s2">出发地：<@ValueSetWrite code="city" value="${productResource.startCity!}" /></span>
                <div class="s3 productHide"></div> 
              </div>
              <div class="product-detail-left-s4">请选择套餐：</div>
              <#list tplList as item>
              <div class="product-detail-left-s5 product-item ${item.selected!}" value="${item.id}">
                <div class="s0">
                  <div class="s1">${item.name}</div>
                  <div class="s2">${item.priceDescribe}</div>
                </div>
                <div class="s3"></div>
              </div>
              </#list>
               
              <div class="product-detail-left-s4">请选择预订月份：</div>
              <div class="product-detail-left-s6">
              
              <ul>
                <#list monthList as item>
                   <li class="product-month ${item.selected!}" value="${item.startMonth}"><a href="#">${item.startMonth}</a><div class="s1"></div></li>
                </#list> 
              </ul> 
              </div>
              <div class="product-detail-left-s4">请选择预订日期：</div>
              <div class="product-detail-left-s6">
              <ul>
                <#list flightCheduleList as item>
                <li class="product-day ${item.selected!}" v="${item.startDate!}" value="${item.startDate!}"><a href="#">${item.startDate!}</a><div class="s1"></div></li>
                </#list>
              </ul> 
              </div>
              <div class="product-detail-left-s4">请输入预订数量：</div>
              <div class="product-detail-left-s7">
                <input type="text" name="priceNum" id="priceNum" value="${buyBean.num6!}">
                ${chargeUnit!}</div>
              <div class="product-detail-left-s8">总价：<span class="s1 allPrice">￥0</span></div>
              <div class="product-detail-left-s8">均价：<span class="s1 avgPrice">￥0</span></div>
              <div class="product-detail-left-s9"> <a id="ordersBtn" href="#">预 订</a></div>
              </div>
              <!-- 价格模板结束 -->
              <#else>
              <!-- 套餐模板 -->
              <div class="productPrice hide">
              <div class="product-detail-left-s3">
              
              <span class="standardPrice">￥${productResource.standardPrice!} </span><span class="s1">起</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="s2">出发地：<@ValueSetWrite code="city" value="${productResource.startCity!}" /></span>
                <div class="s3 productHide"></div>
                
              </div>
              <div class="product-detail-left-s4">请选择套餐：</div>
              <#list tplList as item>
              <div class="product-detail-left-s5 product-item ${item.selected!}" value="${item.id}">
                <div class="s0">
                  <div class="s1" >${item.name}</div>
                  <div class="s2">${item.planDescribe}</div>
                </div>
                <div class="s3"></div>
              </div>
              </#list>
               
              <div class="product-detail-left-s4">请选择预订月份：</div>
              <div class="product-detail-left-s6">
              
              <ul>
                <#list monthList as item>
                   <li class="product-month ${item.selected!}" value="${item.startMonth}"><a href="#">${item.startMonth}</a><div class="s1"></div></li>
                </#list> 
              </ul> 
              </div>
              <div class="product-detail-left-s4">请选择预订日期：</div>
              <div class="product-detail-left-s6">
              <ul>
                <#list flightCheduleList as item>
                <li class="product-day ${item.selected!}" v="${item.startDate!}" value="${item.startDate!}"><a href="#">${item.startDate!}</a><div class="s1"></div></li>
                </#list>
              </ul> 
              </div>
              <div class="product-detail-left-s4">请选择出行人数：</div>
              <div class="product-detail-left-s7">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="13%" height="30"> 
                      <select name="sNum1" id="sNum1" class="num" target="#num1">
                        <#list 0..10 as n> 
                        <option value="${n}" <#if buyBean.num1?? && n==buyBean.num1>selected="selected"</#if>>${n}</option>
                        </#list> 
                      </select></td>
                    <td width="33%">成人</td>
                    <td width="13%"><select name="sNum2" id="sNum2" class="num" target="#num2">
                        <#list 0..10 as n> 
                        <option value="${n}" <#if buyBean.num2?? &&  n==buyBean.num2>selected="selected"</#if>>${n}</option>
                        </#list> 
                      </select></td>
                    <td width="41%">儿童占床</td>
                  </tr>
                  <tr>
                    <td height="30"><select name="sNum3" id="sNum3" class="num" target="#num3">
                        <#list 0..10 as n> 
                        <option value="${n}" <#if buyBean.num3?? && n==buyBean.num3>selected="selected"</#if>>${n}</option>
                        </#list> 
                      </select></td>
                    <td>成人加床</td>
                    <td><select name="sNum4" id="sNum4" class="num" target="#num4">
                        <#list 0..10 as n> 
                        <option value="${n}" <#if buyBean.num4?? && n==buyBean.num4>selected="selected"</#if>>${n}</option>
                        </#list> 
                      </select></td>
                    <td>儿童不占床</td>
                  </tr>
                </table>
              </div>
              <div class="product-detail-left-s8">总价：<span class="s1 allPrice">￥0</span></div>
              <div class="product-detail-left-s8">均价：<span class="s1 avgPrice">￥0</span></div>
              <div class="product-detail-left-s9"> <a id="ordersBtn" href="#">预 订</a></div>
              </div>
              <!-- 套餐模板结束 -->
              </#if>
              </td>
            </tr>
            <tr>
              <td bgcolor="#EBEAE6" height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="210" height="50"><div class="product-left-s1">评论</div></td>
                  <td width="97"><div class="product-left-s11"><a href="#" id="commentsBtn">发布</a></div></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td bgcolor="#FFFFFF"><div class="product-left-s2">
              <input type="hidden" name="productResourceId" id="productResourceId" value="${productResource.id!}">
               <input type="hidden" name="productResourceName" id="productResourceName" value="${productResource.name!}">
                <textarea  name="content" id="content"></textarea>
                <div class="product-left-s3"></div>
              </div></td>
            </tr>
            <tr>
              <td height="50" bgcolor="#FFFFFF">&nbsp;</td>
            </tr> 
            <tr>
              <td bgcolor="#FFFFFF" class="commentsInfo"> </td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    <td width="163" bgcolor="#ebeae6">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#EBEAE6">&nbsp;</td>
    <td bgcolor="#EBEAE6"></td>
    <td bgcolor="#EBEAE6">&nbsp;</td>
  </tr>
</table>
</div>
<input type="hidden" name="combo" id="combo" value="${productResource.combo}">

<input type="hidden" name="isBack" id="isBack" value="<#if buyBean.tplId??>1<#else>0</#if>">

<form action="price.json" method="post" id="priceFrm">
  <input type="hidden" name="id" id="id" value="${productResource.id}">
  
  <input type="hidden" name="tplId" id="tplId">
  <input type="hidden" name="cheduleMonth" id="cheduleMonth">
  <input type="hidden" name="cheduleDay" id="cheduleDay">
  
  <input type="hidden" name="num1" id="num1" value="0">
  <input type="hidden" name="num2" id="num2" value="0">
  <input type="hidden" name="num3" id="num3" value="0">
  <input type="hidden" name="num4" id="num4" value="0">
  <input type="hidden" name="num5" id="num5" value="0">
  <input type="hidden" name="num6" id="num6" value="0">
  <input type="hidden" name="remark" id="remark" value="${buyBean.remark!}">
  <input type="hidden" name="linkman" id="linkman" value="${buyBean.linkman!}">
  <input type="hidden" name="linkmanMobile" id="linkmanMobile" value="${buyBean.linkmanMobile!}">
</form>
<@c.bottom />
</body>
</html>
