<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<@c.css />
<style type="text/css">
.content-m1-col4 {
background-color:$ {
color1
}
;
color:$ {
color2
};
}
.content-m1-col1:hover .content-m1-col4, .content-m1-col2:hover .content-m1-col4 {
background-color:$ {
color3
}
;
color:$ {
color4
};
}
.content-m1-col1:hover .content-m1-col4 .s1, .content-m1-col2:hover .content-m1-col4 .s1 {
color:$ {
color4
}
;
}
</style>
<link href="../../../css/style.css" rel="stylesheet" type="text/css">
<@c.javascript />
<script>
    seajs.use("front/product-list-g");  
</script>
</head>

<body>
<@c.top currentIndex="1" />
<div class="main main-row1 main-bg1"></div>
<div style=" background-color:#ebeae6; width:100%">
<div class="content-g destination-g">
  <div id="slideBox" class="slideBox md">
     
    <div class="bd">
      <ul>
        <#list galleryList as item>
        <li><img src="${request.contextPath}/images/uploadDir${item.imagePath!}" /></li>
        </#list>
      </ul>
    </div>
    <!-- 下面是前/后按钮代码，如果不需要删除即可 --> 
    <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a> </div>
</div>
</div>
<div class="main main-row1 main-bg2"> </div>
<div class="main">
<table width="1280" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="162" bgcolor="#ebeae6">&nbsp;</td>
    <td width="955"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="587" valign="top" bgcolor="#EBEAE6"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="productList" bgcolor="#fff">
              <tr>
                <td  bgcolor="#FFFFFF"><div class="product-content-m1-s3">${destination.name}</div>
                  <div class="product-content-m1-s4">
                    <ul class="product-type">
                      <li value="4" class="<#if productType=='-1'>active</#if>">限时促销 <img src="${request.contextPath}/images/type_arr.jpg" width="9" height="5"></li>
                      <li value="1" class="<#if productType=='1'>active</#if>">无忧团队 <img src="${request.contextPath}/images/type_arr.jpg" width="9" height="5"></li>
                      <li value="2" class="<#if productType=='2'>active</#if>">爱自由行 <img src="${request.contextPath}/images/type_arr.jpg" width="9" height="5"></li>
                      <li value="3" class="<#if productType=='3'>active</#if>">自选单项 <img src="${request.contextPath}/images/type_arr.jpg" width="9" height="5"></li>
                    </ul>
                  </div></td>
              </tr>
              <#list retList as item>
              <tr class="productItem">
                <td><div class="product-content-m1-s5"><a href="detail?id=${item.id}"><img src="${request.contextPath}/images/uploadDir${item.imagePath!}" alt="" width="549" height="180"></a></div>
                  <div class="product-content-m1-s6"><a href="detail?id=${item.id}">${item.name!}</a></div>
                  <div class="product-content-m1-s7">${item.managerComment!}</div></td>
              </tr>
              <tr class="productItem">
                <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="30">&nbsp;</td>
                      <td width="25"><img src="${request.contextPath}/images/img1.jpg" width="17" height="19"></td>
                      <td width="56" class="product-content-m1-s8">${item.somePraise!}</td>
                      <td width="26"><img src="${request.contextPath}/images/img2.jpg" width="20" height="17"></td>
                      <td width="56" class="product-content-m1-s8">188</td>
                    </tr>
                  </table></td>
              </tr>
              </#list>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="40" align="center" bgcolor="#EBEAE6"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="5" bgcolor="#EBEAE6"></td>
                    </tr>
                    <tr>
                      <td height="40" align="center" bgcolor="#FFFFFF"><img id="moreBtn" style="cursor:pointer" src="${request.contextPath}/images/img4.jpg" width="24" height="21"></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
          <td valign="top" bgcolor="#EBEAE6" class="groundInfo"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
                <td width="347"><table width="347" border="0" align="right" cellpadding="0" cellspacing="0" bgcolor="#fff">
                    <tr>
                      <td width="367" bgcolor="#FFFFFF" ><div class="product-content-m2-s1">最优质服务商</div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#FFFFFF"><table width="307" border="0" align="center" cellpadding="0" cellspacing="0" class="product-content-m2-s2">
                          <tr>
                            <td><table width="270" border="0" align="center" cellpadding="0" cellspacing="0" class="product-content-m2-g1">
                                <tr>
                                  <td width="80" height="80" align="center" valign="top"><div class="product-content-m2-s6"><img src="${request.contextPath}/images/img3.jpg" width="64" height="64"></div></td>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td><div class="product-content-m2-s3">${ground.name!}</div></td>
                                      </tr>
                                      <tr>
                                        <td><div class="product-content-m2-s4">${ground.groundDescribe!}</div></td>
                                      </tr>
                                      <tr>
                                        <td><div class="product-content-m2-s5"> <a href="#">查看资质</a></div></td>
                                      </tr>
                                    </table></td>
                                </tr>
                              </table>
                              <table width="270" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td height="10"></td>
                                </tr>
                                <#list groundTagList as item>
                                <tr>
                                  <td height="35">${item.name}：</td>
                                </tr>
                                <tr>
                                  <td height="22"><#list item.values as itemC> <a href="#" class="tag">${itemC}</a> <#if item.values?size - 1!=itemC_index>|</#if> 
                                    
                                    </#list> </td>
                                </tr>
                                </#list>
                                <tr>
                                  <td height="10"></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    <td width="163" bgcolor="#ebeae6">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#EBEAE6">&nbsp;</td>
    <td bgcolor="#EBEAE6"></td>
    <td bgcolor="#EBEAE6">&nbsp;</td>
  </tr>
</table>
</div>
<form action="more.json" method="post" id="listMore">
  <input type="hidden" name="pageNo" id="pageNo">
  <input type="hidden" name="tag" id="tag" value="">
  <input type="hidden" name="groundId" id="groundId" value="${ground.id!}">
  <input type="hidden" name="arriveDestination" id="arriveDestination" value="${destination.id}">
  <input type="hidden" name="productType" id="productType" value="${productType}">
</form>
<@c.bottom />
</body>
</html>
