<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户登陆 -
<@c.sysName />
</title>
<@c.css />
<@c.javascript />
<script>
if (top.location != self.location){top.location = self.location}
</script>
<script>
	seajs.use('app',function(app) {
		app.load('manager/login');
	}); 
</script>
</head>

<body> 
<#if loginMsg??>
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bg1">
  <tr>
    <td align="center" class="error" height="22">${loginMsg}</td>
  </tr>
</table>
</#if> 
<br />
<br />
<br />
<br />
<div style="width:800px; margin:auto">

<form id="loginFrm" name="loginFrm" method="post" action="${request.contextPath}/manager/login">
<table width="300"  align="center" cellpadding="0" cellspacing="0"  class="table">
  <tr>
    <td height="30" colspan="2" class="bg1 paddingleft">用户登陆</td>
  </tr>
  <tr>
    <td width="117" height="25" align="right" class="bg0">用户名：</td>
    <td width="230"><input type="text" class="s_3" name="userName" id="userName" value="${userName!}" /></td>
  </tr>
  <tr>
    <td height="25" align="right" class="bg0">密&nbsp;&nbsp;码：</td>
    <td><input type="password" class="s_3" name="password" id="password" value="${password!}"/></td>
  </tr> 
  <tr>
    <td height="25" colspan="2" align="center" bgcolor="#FFFFFF"><input type="submit" name="createBtn" id="button" value="登陆" />
      <input type="reset" name="cancelBtn" id="button" value="清除" />
      <input name="referer" type="hidden" id="referer" value="${referer!}" /></td>
  </tr>
</table>
</form>
</div>
</body>
</html>
