<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>定制管理 -
<@cm.sysName />
</title>
<@cm.css />
<@cm.javascript />
<script>
    seajs.use("manager/customize/customize-edit");
</script>
</head>

<body>
<div class="main">
  <@cm.top />
  <form action="edit.json" method="post" enctype="multipart/form-data" name="saveFrm" id="saveFrm">
    <div class="panel panel-default">
      <div class="panel-heading"> 编辑定制 </div>
      <table border="0" width="100%" align="center" cellspacing="0" class="table table-striped table-bordered table-form">
        <tr>
          <th width="15%">第一行标题 <span class="error">*</span></th>
          <td width="35%"><input type="text" class="form-control input-sm required" name="title1"  id="title1" placeholder="第一行标题" value="${entity.title1!}"></td>
          <th width="15%">第二号 </th>
          <td width="35%"><input type="text" class="form-control input-sm " name="title2"  id="title2" placeholder="第二号" value="${entity.title2!}"></td>
        </tr>
        <tr>
          <th>第三行 </th>
          <td><input type="text" class="form-control input-sm " name="title3"  id="title3" placeholder="第三行" value="${entity.title3!}"></td>
          <th>摘要 <span class="error">*</span></th>
          <td><input type="text" class="form-control input-sm required" name="summary"  id="summary" placeholder="摘要" value="${entity.summary!}"></td>
        </tr>
        <tr>
          <th>目的地 <span class="error">*</span> </th>
          <td><select name="destination" id="destination" class="form-control input-sm required">
              <option value="">-请选择-</option>
              <@ValueSet code="destination" value="${entity.destination!}" />
            </select></td>
          <th>绑定产品资源</th>
          <td class="form-inline"><input type="hidden" class="productResourceId" name="productResourceId"  id="productResourceId" value="${entity.productResourceId!}">
            <input type="text" class="form-control input-sm required productResourceName" name="productResourceName"  id="productResourceName" placeholder="绑定产品资源" value="${entity.productResourceName!}" readonly>
            <div class=" form-group dialogControl">
              <input class="dialogBtn btn btn-primary btn-sm" type="button" name="button2" id="button2"  value="选择">
              <input class="btn btn-default btn-sm selectClean" type="button" name="button2" id="button2" value="清空">
            </div></td>
        </tr>
        <tr>
          <th>封面图片 <span class="error">*</span> </th>
          <td colspan="3"><div class="row">
              <div class="col-xs-6 col-md-3"> <a href="#" class="thumbnail"> <img alt="图片" src="${request.contextPath}/images/uploadDir${entity.imagePath!}" width="180" height="100" id="imagePathShow"> </a> </div>
            </div>
            <input type="file" name="customizeImageFile" id="customizeImageFile"></td>
        </tr>
        <tr>
          <th>是否前台显示 </th>
          <td colspan="3"><@ValueSet name="frontDesk" code="yes_no_r" value="${entity.frontDesk!}" /></td>
        </tr>
        <tr>
          <td colspan="4" align="center"><input type="hidden" name="id" id="id" value="${entity.id!}">
            <button type="button" class="saveBtn btn btn-primary btn-sm"> <span class="glyphicon glyphicon-floppy-saved"></span> 保存 </button>
            <a href="list" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-chevron-left"></span> 返回</a></td>
        </tr>
      </table>
    </div>
  </form>
</div>
</body>
</html>
