<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>航段管理 -
<@cm.sysName />
</title>
<@cm.css />
<@cm.javascript />
<script>
    seajs.use("manager/flightsegment/flightsegment-list");  
</script>
</head>

<body>
<div class="main">
  <@cm.top />
  <form id="controlForm" name="controlForm" method="post" action="">
    <div class="panel panel-default">
      <div class="panel-heading"> 航段列表 </div>
      <ul class="list-group">
        <li class="list-group-item">你当前正在查看编号为 <span class="info1">${flight.id!}</span> 航班资源名称为 <span class="info1">${flight.name!}</span> 的航段列表</li>
      </ul>
      <div class="panel-body form-inline panel-opt"> <a href="###" class="btn btn-default btn-sm editBtn" role="button"><span class="glyphicon glyphicon-pencil"></span> 修改</a> <a href="add?flightId=${RequestParameters.flightId!}" class="btn btn-default btn-sm addBtn" role="button"> <span class="glyphicon glyphicon-plus"></span> 新增</a> <a href="###" class="btn btn-default btn-sm delBtn" role="button"> <span class="glyphicon glyphicon-trash"></span> 删除</a> <a href="${request.contextPath}/manager/flight/list" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-chevron-left"></span> 返回</a> </div>
      <table border="0" align="center" cellspacing="0" class="table table-striped table-hover  table-result">
        <thead>
          <tr>
            <th width="5%"></th>
            <th width="10%">排序</th>
            <th width="15%">第几天</th>
            <th width="10%">航班号</th>
            <th width="20%">起飞机场</th>
            <th width="10%">起飞时间</th>
            <th width="20%">到达机场</th>
            <th width="10%">到达时间</th>
          </tr>
        </thead>
        <#list retList as item>
        <tr>
          <td align="center"><input type="checkbox" name="id" id="id" value="${item.id}"></td>
          <td>${item.orderValue!}</td>
          <td>${item.serialNumber!} </td>
          <td>${item.flightNum!}</td>
          <td>${item.startAirport!}</td>
          <td>${item.startTime!} </td>
          <td>${item.arriveAirport!}</td>
          <td>${item.arriveTime!} </td>
        </tr>
        </#list>
      </table>
    </div>
  </form>
</div>
</body>
</html>
