@charset "utf-8";
/* CSS Document */
body,td,th {
	font-family: "微软雅黑";
	font-size: 12px;
}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,bkquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
.table,.form-search{ margin-bottom:10px;}
.main{width:80%; margin:auto}
.main-login{width:300px; margin:auto}
 
.table.table-form > tbody > tr > th { vertical-align:middle;}
.table.table-result .btn{ padding-top:2px; padding-bottom:3px;}
.panel-opt{padding:8px}

.error{ color:#d9534f; padding-top:2px;}
.loading-content { padding:10px;}
.hide {display:none} 
.panel-default > .panel-heading{font-size:14px; color:#5bc0de}
.dialogControl{padding:3px 0}
#loading{z-index:9999}
.info1{ color:#5cb85c}
.info2{ color:#5bc0de}
.info3{ color:#f0ad4e}
.info4{ color:#999}
.tags {list-style:none; line-height:25px;}
.tags li span {padding-right:10px; padding-top:30px;color:#5bc0de}