blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
img{ border:0}
body, td, th {
	font-family: "微软雅黑";
	font-size: 12px;
}
.main {
	margin: auto;
	width: 100%;
	background-color:#ebeae6;
	min-width:1280px;
}
.error{ color:#ff0101;}
.hide{ display:none}
.main1{margin:auto;width:100%; min-width:1280px;}
.main-row1{height:10px;}
.main-bg1{ background-color:#fff}
.main-bg2{ background-color:#ebeae6}

.top {
	 height:50px; background-color:#333333
}

 a{color:#333333; text-decoration:none;}
 a:hover{color:#333333;}

.top-base{ float:left; line-height:50px; height:50px;}
.top-padding-right{ padding-right:50px}
.top-padding{ padding:0 3px;}
.top-col1{ width:140px}
.top-col2{ width:60px}

.top-base a.a1{display:block; padding:0 25px; color:#c8c8c8; text-decoration:none}
.top-base a.a1:hover{display:block; color:#c8c8c8; background-color:#1f1f1f; text-decoration:none}
.top-base a.a1.current{display:block;  background-color:#1f1f1f; color:#fff; text-decoration:none}
.top-base a:hover.a1.current{display:block; background-color:#1f1f1f; color:#fff; text-decoration:none}

.top-member{ padding: 0 0 0 20px; float:left; color:#c8c8c8;line-height:50px; height:50px;}
.top-member a{ color:#c8c8c8;}
.top-member a:hover{ color:#fff;}
.top-login{float:left;height:37px;padding:13px 10px 0 20px; cursor:pointer;}
.top-reg{float:left;height:37px; padding-top:13px; padding-right:10px;cursor:pointer;}

.content-g{margin:auto;width:955px; height:483px;} 

.content{height:750px; background-color:#ebeae6}
.content-m1{margin:auto; width:955px;height:340px;background-color:#fff}
.content-m2{margin:auto; width:955px;height:388px;background-color:#fff}

.content-m1-col1{ position:relative;width:276px;height:300px; float:left; padding-left:25px;padding-top:25px;padding-bottom:15px;padding-right:25px; background-color:#fff}
.content-m1-col2{ position:relative;width:303px;height:300px; float:left;padding-top:25px;padding-bottom:15px; background-color:#fff}
.content-m1-col3{width:100%; height:244px; background-color:#333}
.content-m1-col3 .slideBox{ height:300px;}
.content-m1-col3 .slideBox .bd img{ height:244px;} 
.content-m1-col4{width:100%; height:56px; background-color:#525252; text-align:center; line-height:56px; color:#fff; font-size:16px;}
.content-m1-col4 .s1{ font-size:22px;}
.content-m1-col2 .content-m1-col4 .t1,
.content-m1-col1 .content-m1-col4 .t1{display:block}
.content-m1-col2 .content-m1-col4 .t2,
.content-m1-col1 .content-m1-col4 .t2{display:none;}

.content-m1-col1:hover .content-m1-col4,
.content-m1-col2:hover .content-m1-col4
{ background-color:#ad4834;color:#fff; cursor:pointer}
.content-m1-col1:hover .content-m1-col4 .s1,
.content-m1-col2:hover .content-m1-col4 .s1
{color:#fff;cursor:pointer}

.content-m1-col2:hover .content-m1-col4 .t1,
.content-m1-col1:hover .content-m1-col4 .t1{ display:none;}
.content-m1-col2:hover .content-m1-col4 .t2,
.content-m1-col1:hover .content-m1-col4 .t2{ display:block;}

.content-m1-s1{ padding:20px 0 6px 15px; height:39px; width:123px; position:relative}
.content-m1-s11{ width: 123px; height:39px; position:relative; background-image:url(../images/tou1.png) }
.content-m1-s11 input{height:39px; width:123px;border:0;background-color:transparent }
.content-m1-s11 .phTxt{position:absolute; left:10px; height:39px; line-height:39px; top:0px; z-index:0; color:#696c65;}

.content-m1-s11:hover{ border:1px solid #000;width: 121px; height:37px;}  
.content-m1-s11:hover input{height:37px; width:121px;border:0; background-color:transparent}
.content-m1-s11:hover .phTxt{position:absolute; left:9px; height:37px; line-height:37px; top:0px; z-index:0; color:#696c65;}



.content-m1-s2{ padding:0px 0 15px 15px; height:39px; width:123px;}
.content-m1-s22{ height:39px; width:123px; line-height:39px;position:relative;background-image:url(../images/tou2.png) }
.content-m1-s22 .m1{ display:none;position:absolute; top:0; left:122px; background-color:#fff;width:332px; height:126px; opacity:0.8;}
.content-m1-s22 .m2{ height:36px; width:280px; margin:0 0 0 15px; font-size:14px; border-bottom:1px dashed #d3d3d1;}
.content-m1-s22 .phTxt1{position:absolute; left:10px; height:39px; line-height:39px; top:0px; z-index:0; color:#696c65;}
.content-m1-s22 ul { padding: 0 15px;}
.content-m1-s22 ul li { width:80px; float:left;}

.content-m1-s22:hover{ border:1px solid #000; height:37px; width:121px;}
.content-m1-s22:hover .phTxt1{position:absolute; left:9px; height:38px; line-height:38px; top:0px; z-index:0; color:#696c65;}

.content-m1-s22 a{color:#858585; text-decoration:none;}
.content-m1-s22 a:hover{color:#858585;}

.content-m1-s3{ padding:40px 0 15px 15px; height:32px; width:88px;}
.content-m1-s33{ text-align:center; color:#6d6d6d;height:32px; width:88px; line-height:32px;background-image:url(../images/tou3.png); cursor:pointer;}
.content-m1-s33:hover{ border:1px solid #000; height:30px; width:86px;line-height:30px;}

.content-m2-col1{width:276px;height:348px; float:left; padding-left:25px;padding-top:25px;padding-bottom:15px; background-color:#fff}
.content-m2-col2{width:100%; height:50px; background-color:#333}
.content-m2-col3{width:240px; height:298px; padding: 10px 0 0 35px; background-color:#fff; line-height:25px; color:#333;}
.content-m2-col4{width:604px;height:348px; float:left; margin-left:25px;margin-top:25px;margin-bottom:15px;margin-right:25px; background-color:#fff}

.bottom {height:255px; background-color:#333333}
.bottom .phTxt{position:absolute; left:30px; height:22px; line-height:22px; top:15px; z-index:0; color:#696c65;}

.bottom-m1{ width:172px; height:255px; float:left}
.bottom-m2{ width:231px; height:255px; float:left; padding:0 112px 0 0;}
.bottom-m2-s1{}

.bottom-m2-s2{padding:20px 0 0 30px; position:relative}
.bottom-m2-s2 input{ width:175px;border:0px;border-bottom:1px solid #636363;background-color:transparent}
.bottom-m2-s3{padding:30px 0 0 30px;}

.bottom-m3{ width:173px; height:255px; float:left; padding:0 69px 0 0; color:#c9c9c9;}
.bottom-m3-s1{ padding:48px 0 0 0;}
.bottom-m3-s2{padding:20px 0 0 0px; position:relative}
.bottom-m3-s2 input{ width:175px;border:0px;border-bottom:1px solid #636363;background-color:transparent}
.bottom-m3-s3{padding:25px 0 0 30px;}
.bottom-m3-s4{padding:25px 0 0 0px;}
.bottom .bottom-m3-s2 .phTxt{left:0px; height:0px;}

.bottom-m4{ width:267px; height:255px; float:left; padding:0 69px 0 0; color:#c9c9c9;}
.bottom-m4-s1{ padding:35px 0 0 0;}

.bottom-m4 ul {width:200px;}
.bottom-m4 ul li{ padding:5px 20px ; float:left; }
.bottom a{color:#999999; text-decoration:none;}
.bottom a:hover{color:#999999;}

.md{ position:relative;}
.md .arr{ position:absolute; top:49px;left:35px; width:17; height:9px;z-index:101; display:none;line-height:9px}
.md .d1{ position:absolute; top:50px;left:-222px;width:955px; height:auto; background-image:url(../images/dbg.png);z-index:100; display:none;}
.md .d1 ul {}
.md .d1 ul li { width:154px; height:100px; padding:20px 0 10px 30px; text-align:center; color:#333333; float:left;line-height:normal}
.md .d1 ul li a{color:#333333; text-decoration:none;display:block; padding:0 0px;}
.md .d1 ul li a:hover{color:#333333;display:block; padding:0 0px; background-color:transparent}
.md.indexDestination{ z-index:1600}

.destination-g{height:214px;}
.product-content{ background-color:#ebeae6; display:block; min-height:200px;}
.product-content-m1{margin:auto; width:955px;}
.product-content-m1-s1{ width:587px; float:left;background-color:#fff}
.product-content-m1-s2{height:56px;} 
.product-content-m1-s3{height:50px; width:140px; padding:6px 0 0 25px; font-size:25px; color:#4e4e4e;float:left;}
.product-content-m1-s4{width:420px; float:left; padding:15px 0 0 0}
.product-content-m1-s4 ul {}
.product-content-m1-s4 ul li { cursor:pointer; margin-left:5px; padding:6px 24px; float:left; background-color:#ebeae6; position:relative;}
.product-content-m1-s4 ul li img{ position:absolute; top:28px; left:35px; display:none;}
.product-content-m1-s4 ul .active,
.product-content-m1-s4 ul li:hover{ background-color:#3c1301; color:#c9c8c6;}
.product-content-m1-s4 ul .active img,
.product-content-m1-s4 ul li:hover img{ display:block;}

.product-content-m1-s5 { padding:0 19px;background-color:#fff}
.product-content-m1-s6 { padding:3px 19px 0 25px;background-color:#fff; font-size:22px; color:#757575}
.product-content-m1-s7 { padding:3px 19px 0 25px;background-color:#fff; color:#757575; line-height:25px;}
.product-content-m1-s8 {  color:#999999}

.product-content-m2-s1{ padding:10px 20px; font-size:25px; color:#333333;}
.product-content-m2-s2{ border:1px solid #d9d9d9; margin-bottom:15px;}
.product-content-m2-s3{ padding:10px 0 0 15px;font-size:16px; color:#333333;}
.product-content-m2-s4{ padding:10px 10px 0 15px; color:#757575; line-height:25px;}
.product-content-m2-s5{ padding:10px 10px 10px 15px; color:#333333; line-height:25px; text-align:right;} 
.product-content-m2-s6{ padding:16px 0 0;  } 
.product-content-m2-s7{width:150px; float:right;} 
.product-content-m2-s7 ul {}
.product-content-m2-s7 ul li { cursor:pointer; border:1px solid #bfbfbf; margin: 0 3px; padding:3px 5px; float:left;}
.product-content-m2-s7 ul li.active{border:1px solid #2aa6e6;}

.product-top .top-base a.a1{padding:0 15px;}
.product-top .top-base a.a2{padding:0 25px; }
.product-top .top-col2{ padding: 0 0 0 25px;width:280px}
.product-top .top-col3{ margin:10px 0 0 0px; padding: 0 0 0 10px; width:165px; height:29px; float:left; position:relative; background-image:url(../images/img5.jpg); line-height:29px;}
.product-top .top-col3 input{ margin:0; padding:0; width:165px; height:29px;border:0px;background-color:transparent;line-height:29px;}
.product-top .top-col3 .phTxt{ position:absolute; top:0px;left:10px; height:0px; color:#999999;line-height:29px;}
.product-top .top-col4{ margin:10px 0 0 0px; padding: 0 0 0 10px; width:18px; height:29px; float:left; position:relative; background-image:url(../images/img6.jpg); line-height:29px;}


.product-bottom { height:70px; padding: 15px 0 0 0;}
.product-bottom .bottom-m5{text-align:center; margin:auto;vertical-align:middle; line-height:25px; color:#999999}
 
.product-content-m2-g1 { border-bottom:1px solid #d9d9d9}
.product-content-m2-g2 { color:#333333;}
.product-content-m2-g3 { color:#757575;}
.product-content-m2-g3 a{color:#757575; text-decoration:none; padding:3px;}
.product-content-m2-g3 a:hover{color:#757575;}

.product-content-m-s1 { font-size:25px; color:#333333}
.product-content-m-s2 { font-size:25px; color:#a8a6a7}
.product-content-m-s3 { padding:0 0 0 15px; position:relative; z-index:100;}
.product-content-m-s4 {
	position: absolute;
	top: 30px;
	left: 140px;
	width: 330px;
	min-height: 120px;
	background-color:#fff;
	border:1px solid #c0c0c0;
	display:none;
}
.product-content-m-s2.customize{ font-size:12px;}
.product-content-m-s3.customize{padding:0 0 0 0;}
.product-content-m-s4.customize{ left:0; top:22px;}
 
.product-content-m-s4 ul { padding: 0 15px; }
.product-content-m-s4 ul li { width:80px; float:left; color:#36a6a6a; line-height:25px;}
.product-content-m-s4 a{color:#36a6a6a; text-decoration:none;}
.product-content-m-s4 a:hover{color:#36a6a6a;}

.product-content-m-s5 { font-size:18px; padding: 0 0 10px 0 ; margin:10px 10px 10px 15px; width:300px;  color:#6a6a6a;border-bottom:1px dashed #d3d3d1;}
.product-left-s1{ font-size:18px; color:#333333; padding:0 0 0 20px;}
.product-left-s2{ padding:0px 20px; position:relative }
.product-left-s2 textarea { border:1px solid #d7d7d7;width:100%; height:50px;}
.product-left-s2 .s1{ position:absolute; top:10px; left:77px; width:6px; height:10px; background-image:url(../images/img18.jpg);}
.product-left-s2 .s2{ position:absolute; top:10px; left:263px; width:6px; height:10px; background-image:url(../images/img21.jpg);}
.product-left-s3 { position:absolute; top:51px; left:30px; width:23px; height:34px; background-image:url(../images/img8.jpg); z-index:100;}

.product-left-s4{ margin:0 0 0 15px; width:237px; height:5px; background-image:url(../images/img15.jpg);}
.product-left-s5{ margin:0 0 0 15px; width:217px;  background-color:#a6e7e3; color:#747474; padding:5px 10px; line-height:20px;}
.product-left-s6{ margin:0 0 0 15px;width:237px; height:7px; background-image:url(../images/img16.jpg);}

.product-left-s7{ margin:0 15px 0 0 ; width:199px; height:5px; background-image:url(../images/img19.jpg);}
.product-left-s8{ text-align:left; margin:0 15px 0 0 ; width:177px; border-left:1px solid #d0d0d0;border-right:1px solid #d0d0d0; color:#747474; padding:5px 10px; line-height:20px;}

.product-left-s9{ margin:0 15px 0 0;width:199px; height:5px; background-image:url(../images/img20.jpg);}
.product-left-s10{ color:#53aa3f;}
.product-left-s11{ padding:0 0 0 38px;}
.product-left-s11 a { padding: 3px 15px; color:#fff; background-color:#52ab41;}

.product-detail-s1{ font-size:22px; text-align:center; color:#4e4e4e; }
.product-detail-s2 { padding:0 0 0 15px; height:50px; line-height:50px; font-size:18px; color:#7e7e7e; position:relative;}
.product-detail-s2 .arr{ position:absolute; top:20px; cursor:pointer; left:540px; width:24px; height:21px; background-image:url(../images/img9.jpg); z-index:100;}
.product-detail-s2 .expand {background-image:url(../images/img11.jpg);}

.product-detail-s3 { padding: 15px 15px;}
.product-detail-s4 { height:1px; border-bottom:1px solid #d7d7d7; width:500px; margin:0 0 0 15px;}
.product-detail-s5 { line-height:25px; color:#666666}

.product-detail-left-s1 { height:70px; background-color:#ad4834; font-size:30px; color:#fff; line-height:60px; text-align:center; position:relative}
.product-detail-left-s2 { width:91px; height:25px; position:absolute; top:58px; left:130px;background-image:url(../images/img12.png); cursor:pointer;}

.product-detail-left-s3 { padding:0 0 0 10px; height:50px; background-color:#ad4834; font-size:25px; color:#fff; line-height:50px; position:relative}
.product-detail-left-s3 .s1 { font-size:12px;}
.product-detail-left-s3 .s2 { font-size:12px; color:#e4c3bc}
.product-detail-left-s3 .s3 { width:24px; height:21px; position:absolute; top:15px; left:305px;background-image:url(../images/img13.jpg); cursor:pointer;}

.product-detail-left-s4 { color:#6a6a6a; padding:15px;clear:both}
.product-detail-left-s4 .s1{ font-size:20px; color:#ad4834}
.product-detail-left-s5,
.product-detail-left-s55 { margin:0 15px 15px 15px; border:1px solid #c2c2c2; color:#8f8f8f; position:relative}
.product-detail-left-s5 .s0,
.product-detail-left-s55 .s0{ border:1px solid #fff;}
.product-detail-left-s5 .s1,
.product-detail-left-s55 .s1{ padding: 8px 0 8px 15px; font-size:20px;}
.product-detail-left-s5 .s2,
.product-detail-left-s55 .s2{ padding: 0 0 8px 15px;}
.product-detail-left-s5 .s3,
.product-detail-left-s55 .s3{ position:absolute; top:58px; left:303px; width:13px; height:13px;background-image:url(../images/img14.jpg); display:none}
.product-detail-left-s5:hover,
.product-detail-left-s5.active {border:1px solid #ad4834; color:#ad4834}
.product-detail-left-s5:hover .s0, 
.product-detail-left-s5.active .s0{ border:1px solid #ad4834;}
.product-detail-left-s5:hover .s3, 
.product-detail-left-s5.active .s3{ display:block;}

.product-detail-left-s5.disabled,
.product-detail-left-s5.disabled:hover,
.product-detail-left-s5.active.disabled,
.product-detail-left-s5.disabled:hover .s0,
.product-detail-left-s5.active.disabled .s0,
.product-detail-left-s5.disabled:hover .s3,
.product-detail-left-s5.active.disabled .s3{border:1px solid #D8D8D8; color:#D8D8D8}
.product-detail-left-s5.disabled:hover .s0,
.product-detail-left-s5.active.disabled .s0 {border:1px solid #fff;}
.product-detail-left-s5.disabled:hover .s3,
.product-detail-left-s5.active.disabled .s3{display:none;}

.product-detail-left-s6 {width:100%}
.product-detail-left-s6 ul { margin: 0px 0 0 15px;  }
.product-detail-left-s6 ul li { position:relative; margin: 5px 8px 0 0; width:45px; height:26px; float:left; border:1px solid #c2c2c2; color:#8f8f8f; line-height:26px; text-align:center; }
.product-detail-left-s6 ul li .s1 {position:absolute; top:14px; left:33px; width:13px; height:13px;background-image:url(../images/img14.jpg); display:none}
.product-detail-left-s6 ul li a{ display:block; border:1px solid #fff;} 
.product-detail-left-s6 ul li:hover,
.product-detail-left-s6 ul li.active {border:1px solid #ad4834; color:#ad4834}
.product-detail-left-s6 ul li:hover a,
.product-detail-left-s6 ul li.active a{border:1px solid #ad4834; color:#ad4834}
.product-detail-left-s6 ul li:hover .s1,
.product-detail-left-s6 ul li.active .s1{ display:block;}

.product-detail-left-s6 ul li.disabled,
.product-detail-left-s6 ul li.disabled:hover,
.product-detail-left-s6 ul li.disabled.active,
.product-detail-left-s6 ul li.disabled:hover a,
.product-detail-left-s6 ul li.disabled.active a{border:1px solid #D8D8D8; color:#D8D8D8}
.product-detail-left-s6 ul li.disabled a{ color:#d8d8d8}
.product-detail-left-s6 ul li.disabled:hover a,
.product-detail-left-s6 ul li.disabled.active a{border:1px solid #fff;}
.product-detail-left-s6 ul li.disabled:hover .s1,
.product-detail-left-s6 ul li.disabled.active .s1{ display:none;}


.product-detail-left-s7 { color:#6a6a6a; padding:0 0 10px 15px;clear:both}
.product-detail-left-s7 input{ width:40px; height:24px; border:1px solid #c2c2c2; color:#8f8f8f;}
.product-detail-left-s7 select{ width:40px; height:24px; border:1px solid #c2c2c2; color:#8f8f8f;}

.product-detail-left-s8 { color:#6a6a6a; padding:5px 5px 5px 15px;clear:both}
.product-detail-left-s8 .s1{ font-size:20px; color:#ad4834}

.product-detail-left-s9 { padding:20px 10px 35px 15px; text-align:center;}
.product-detail-left-s9 a{ padding:5px 30px;  background-color:#ad4834; font-size:18px; color:#fff;}

.customize-title { font-size:25px; color:#333333;}
.customize-type1 { background-color:#90d5fc; color:#fff; cursor:pointer;}
.customize-type1.active{ background-color:#2aa6e6;}\
.customize-type2 { line-height:25px;}
.customize-type2 td{line-height:25px;}
.customize-type3 { padding: 0 5px 0  0;}
.customize-type4 { font-size:25px;}
.customize-type5 { color:#6a6a6a; padding:0 0 10px 15px;}

.customize-table{}
.customize-table input{ height:22px; width:208px; border:1px solid #bcbcbc}
.customize-table input[type=checkbox]{height:22px; width:22px; border:1px solid #bcbcbc}
.customize-table textarea{ border:1px solid #bcbcbc; height:129px; width:556px;}
.customize-table a.s1{ padding: 5px 30px; background-color:#2aa6e6; color:#fff;}

.customize-content { width:269px; height:320px; float:left; padding:20px 15px 0px 0;}
.customize-content .s1{ width:269px; height:183px;}
.customize-content .s2{ padding:5px 0 5px 0; font-size:14px; color:#1b1d1c;}
.customize-content .s3{ border-bottom:1px solid #989898}
.customize-content .s4{ padding:5px 0; color:#656567; line-height:22px;}

.yamidiary-table td{ border-bottom:1px dotted #dddddd ;}
.yamidiary-s1{ border-bottom:1px solid #bcc0c4;}
.yamidiary-s2{ color:#a494b2;}
.yamidiary-s3{ font-size:18px; color:#444444;}
.yamidiary-s4 {}
.yamidiary-s4 a { padding:3px 10px; color:#a1a1a1}
.yamidiary-s5{ padding:10px;}

.articl-s1{ margin:20px; padding:0 0 20px 0; border-bottom:2px solid #bcbfc4; font-size:22px; color:#767676; text-align:center;}
.articl-s2{ padding:20px; text-align:center;}
.articl-s3{ padding:20px;}

.articl-s4{ margin:20px 20px 0 20px; padding:0 0 20px 0; border-bottom:1px solid #bcbfc4; font-size:18px; color:#333333; text-align:left;}
.articl-s5 { margin:0 20px;text-align:left; padding:10px;}
.articl-s5 a{ color:#767676;}

.login-table a { color:#2aa5e5;}
.login-table input{ border:1px solid #a5acb2; height:20px; width:160px}
.login-s1{ color:#757575}
.login-s2 { padding:15px 0 0 0;}
.login-s2 a { padding:3px 25px; color:#fff; background-color:#2aa5e5;}
.login-s2 input{ clear: both;padding:3px 0px 5px 0px; color:#fff; background-color:#2aa5e5;}
.login-s3 { color:#b4b4b4}

.member a{ color:#747474}
.member a.active{color:#2aa5e5}
.member input{ border:1px solid #bbbbbb; line-height:22px; width:220px;}
.member-s1{ margin:15px 6px; color:#fff; padding:5px; text-align:center; background-color:#656565;}
.member-s2{ margin:0px 6px; color:#fff; padding:5px; text-align:center; background-color:#fff;} 
.member-s3{ padding:0px 20px 15px 20px;}
.member-s4{ font-size:22px;   color:#333333; padding:15px 0 10px 0}
.member-s5{color:#747474; padding:3px 0 5px 0; line-height:22px;}
.member-s6 {text-align:right; padding:10px;} 
.member-s6 ul {}
.member-s6 ul li { cursor:pointer; border:1px solid #bfbfbf; margin: 0 3px; padding:3px 5px; float:left;}
.member-s6 ul li.active{ background-color:#ad4834; color:#fff;}
.member-s7 { color:#009944}
.member-s71 { color:#b6b6b6}
.member-s8 { margin:5px 0 0 0; border-top:1px solid #b6b5b5; text-align:right; padding:25px 15px 0 0;}
.member-s9 {text-align:right; padding:3px 15px 0 0;}
.member-s10{ font-size:25px; color:#4e4e4e}
.member-s11{ color:#fd6b06}
.member-s12{ padding:20px 0 0 15px;}
.member-s13{ padding:10px 0 0px 15px;}
.member-s13 input{ border:1px solid #bbbbbb; line-height:22px; width:75px;}
.member-s14{ padding:25px 0 15px 15px;}
.member-s14 a{ padding:5px 15px; background-color:#fd6b04; color: #fff;}
.member-s15{ font-size:22px;   color:#333333;}
.member-s16{ border:1px solid #bbbbbb;  width:550px;height:120px;}
.member-btn1{ width:110px; background-color:#2aa6e6; color:#fff; border:0; height:22px;}
.member-btn2{ width:110px; background-color:#666; color:#fff; border:0; height:22px;}
.userInput input{ width:80px;}
.userInput a{ padding:3px 10px;  background-color:#2aa6e6; color:#fff;}
.userInput a.cancel{ background-color:#ececec; color:#333; }

.member-table{ border:1px solid #d0d0d0}
.member-table th,
.member-table td{ padding:5px;}
.member-table td { color:#656565; border-top:1px solid #d0d0d0;}
.member-table thead th{ background-color:#efefef; font-weight:normal; }

.photo_album_s1{ padding:0 3px 0 8px;}
.photo_album_s2{ float:left; height:308px; width:308px; padding:5px 5px 5px 0; position:relative; cursor:pointer;}
.photo_album_s2 .info{ display:none; width:288px; position:absolute; top:200px; left:0; padding:3px 10px; line-height:22px; background:#000; opacity:0.8; color:#a7a3a2;}
.photo_album_s2:hover .info{ display:block;}
.photo_album_s3 { }
.timeline { display:none;}
.photoalbumContent{width:950px;height:570px; position:absolute; left:120px; top:80px; background-color:#fff; display:; z-index:1500;}
.photoalbumContent .s1{ width:313px; float:left; height:450px; position:relative; margin:20px 0 30px 0; border-left:1px solid #e8e8e8}
.photoalbumContent .s1 .title{ padding:200px 0 0 0; text-align:center; line-height:22px;}
.photoalbumContent .s1 .title2{ color: #a8a8a8}
.photoalbumContent .s1 .text{ padding:100px 30px 0 30px; line-height:25px;}
.photoalbumContent .s1 .text2{ position:absolute; top:0px; left:20px; width:51px; height:47px;background-image:url(../images/p3.jpg);}
.photoalbumContent .s1 .text3{ position:absolute; top:380px; right:30px; width:51px; height:47px;background-image:url(../images/p4.jpg);}
.photoalbumContent .s1 .img{ padding:30px 0 0 10px;}

.photoalbumContent .close{ right:0; top:0; height:35px; width:35px; position:absolute;}
.photoalbumContent .s2{ position:relative;}
.photoalbumContent .s3{ position:absolute; padding:15px 0 0 0; top:15px; left:0; margin:0 0 0 100px; border-bottom:1px solid #aeddf5; width:700px;}
.photoalbumContent .s4{ width:120px; height:57px; float:left;}
.photoalbumContent .s5{ width:80px; float:left; height:57px; position:relative;cursor:pointer;}
.photoalbumContent .s6 {width:80px; height:30px; text-align:center; line-height:20px;color:#a8a8a8; }
.photoalbumContent .s7 {width:9px; height:9px; position:absolute; top:26px; left:35px;background-image:url(../images/p2.jpg); z-index:100; }
.photoalbumContent .s5.cur .s6{ color:#2aa5e5}
.photoalbumContent .s5.cur .s7{ background-image:url(../images/p1.jpg)}
.photoalbumBody {width:950px;height:500px; overflow:hidden;}

.photoalbumDetail .s1{ font-size:22px;}
.photoalbumDetail .s2 {border-left:1px solid #76bbff}


.buy-s1{ border:1px solid #d7d7d7}
.buy-s2{ line-height:30px;}
.buy-s3{ padding:10px 0 0 0;}
.buy-s3 textarea{ border:1px solid #bbbbbb;  width:750px;height:80px;}
.buy-s4 input { border:1px solid #bbbbbb; width:180px;}
.buy-s5{ width:823px; margin:auto; padding:15px 0 0 0 ; border-bottom:1px solid #bbbbbb;}
.buy-s6 { font-size:22px;}

.buy-table input{  border:1px solid #bbbbbb; width:90px;}

		/* 本例子css */
		.slideBox{ width:100%; height:483px; overflow:hidden; position:relative; border:0px solid #ddd; background:#999;min-width:1280px;}
		
		.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
		.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
		.slideBox .hd ul li.on{ background:#f00; color:#fff; }
		.slideBox .bd{ position:relative; height:100%; z-index:0; min-width:1280px;  }
		.slideBox .bd li{ zoom:1; vertical-align:middle; }
		.slideBox .bd img{ width: 100%; height:483px; display:block; min-width:1280px; }

		/* 下面是前/后按钮代码，如果不需要删除即可 */
		.slideBox .prev,
		.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
		.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
		.slideBox .prev:hover,
		.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
		.slideBox .prevStop{ display:none;  }
		.slideBox .nextStop{ display:none;  }
		
		.slideBox.md { height:214px;min-width:955px;}
		.slideBox.md .bd{min-width:955px;}
		.slideBox.md .bd img{   height:214px;min-width:955px; }
		.slideBox.small {min-width:0;}
		.slideBox.small .bd{ min-width:0;}
		.slideBox.small .bd img{min-width:0;}
		
.modal-open {
  overflow: hidden;
}

 
.modal-open {
	overflow: hidden
}
.modal {
	display: none;
	overflow: auto;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0
}
.modal.fade .modal-dialog {
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	transform: translate(0, -25%);
	-webkit-transition: -webkit-transform .3s ease-out;
	-moz-transition: -moz-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0)
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px
}
.modal-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	background-clip: padding-box;
	outline: 0
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}
.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0)
}
.modal-backdrop.in {
	opacity: .5;
	filter: alpha(opacity=50)
}
.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.42857143px
}
.modal-header .close {
	margin-top: -2px
}
.modal-title {
	margin: 0;
	line-height: 1.42857143
}
.modal-body {
	position: relative;
	padding: 20px
}
.modal-footer {
	margin-top: 15px;
	padding: 19px 20px 20px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}
.modal-footer .btn+.btn {
	margin-left: 5px;
	margin-bottom: 0
}
.modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}
.modal-footer .btn-block+.btn-block {
	margin-left: 0
}
@media (min-width:768px) {
.modal-dialog {
	width: 600px;
	margin: 30px auto
}
.modal-content {
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}
.modal-sm {
	width: 300px
}
}
@media (min-width:992px) {
.modal-lg {
	width: 900px
}
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px
}
.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442
}
.loading-content { padding:10px;}
.dialogControl{padding:3px 0}
#loading{z-index:9999}