<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>会员管理 -
<@cm.sysName />
</title>
<@cm.css />
<@cm.javascript />
<script>
    seajs.use("manager/member/member-edit");
</script>
</head>

<body>
<div class="main">
  <@cm.top />
  <form name="saveFrm" id="saveFrm" method="post" action="edit.json">
    <div class="panel panel-default">
      <div class="panel-heading"> 编辑会员 </div>
      <table border="0" width="100%" align="center" cellspacing="0" class="table table-striped table-bordered table-form">
        <tr>
          <th width="15%">用户名 <span class="error">*</span> </th>
          <td width="35%"><input type="text" class="form-control input-sm required" name="userName" id="userName" placeholder="用户名" value="${entity.userName!}"></td>
          <th width="15%">密码 <span class="error">*</span> </th>
          <td width="35%"><input type="text" class="form-control input-sm required" name="password" id="password" placeholder="密码" value="${entity.password!}"></td>
        </tr>
        <tr>
          <th>姓名 <span class="error">*</span></th>
          <td><input type="text" class="form-control input-sm required" name="trueName" id="trueName" placeholder="姓名" value="${entity.trueName!}"></td>
          <th>昵称 <span class="error">*</span></th>
          <td><input type="text" class="form-control input-sm required" name="nickName" id="nickName" placeholder="昵称" value="${entity.nickName!}"></td>
        </tr>
        <tr>
          <th>性别 <span class="error">*</span></th>
          <td><select name="sex" id="sex" class="form-control input-sm required cascade"  cascadeId="#headTitleId,#headIconContent" cascadeParam="#sex">
              <option value="">-请选择-</option>
              <@ValueSet code="sex_s" value="${entity.sex!}" />
            </select></td>
          <th>头衔 <span class="error">*</span></th>
          <td colspan="3" ><select name="headTitleId" id="headTitleId" class="form-control input-sm required" defaultValue="${entity.headTitleId!}" cascadeCode="head_title">
              <option value="">-请选择-</option>
            </select></td>
        </tr>
        <tr>
          <th>头像 <span class="error">*</span></th>
          <td colspan="3"><div id="headIconContent" defaultValue="${entity.headIconId!}" cascadeCode="head_icon"> </div></td>
        </tr>
        <tr>
          <th>出生日期 </th>
          <td><input type="text" class="form-control input-sm date" name="birthday" id="birthday" placeholder="出生日期" value="<#if entity.birthday??>${entity.birthday?string('yyyy-MM-dd')}  </#if>" readonly></td>
          <th>手机号码 <span class="error">*</span></th>
          <td><input type="text" class="form-control input-sm required" name="mobile" id="mobile" placeholder="手机号码" value="${entity.mobile!}"></td>
        </tr>
        <tr>
          <th>邮箱 <span class="error">*</span></th>
          <td><input type="text" class="form-control input-sm required" name="email" id="email" placeholder="邮箱" value="${entity.email!}"></td>
          <th>QQ </th>
          <td><input type="text" class="form-control input-sm" name="qq" id="qq" placeholder="QQ" value="${entity.qq!}"></td>
        </tr>
        <tr>
          <th>地址 </th>
          <td><input type="text" class="form-control input-sm" name="address" id="address" placeholder="邮箱" value="${entity.address!}"></td>
          <th>邮编 </th>
          <td><input type="text" class="form-control input-sm" name="postcode" id="postcode" placeholder="邮编" value="${entity.postcode!}"></td>
        </tr>
        <tr>
          <td colspan="4" align="center"><input type="hidden" name="id" id="id" value="${entity.id}">
            <button type="button" class="saveBtn btn btn-primary btn-sm"> <span class="glyphicon glyphicon-floppy-saved"></span> 保存 </button>
            <a href="list" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-chevron-left"></span> 返回</a></td>
        </tr>
      </table>
    </div>
  </form>
</div>
</body>
</html>
