<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>菜单管理 -
<@c.sysName />
</title>
<@c.css />
<@c.javascript />
<script>
    seajs.use("manager/menu/menu-list");  
</script>
</head>

<body>
<div style="width:800px; margin:auto">
  <table border="0" align="center" cellspacing="0" class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="20%">菜单树</th>
        <th width="30%">菜单英文名</th>
        <th width="30%">菜单中文名</th>
        <th width="20%">操作</th>
      </tr>
    </thead>
    <#list retList as item>
    <tr>
      <td>${item.menuTreeName!}</td>
      <td>${item.menuEname!}</td>
      <td>${item.menuCname}</td>
      <td>&nbsp;</td>
    </tr>
    </#list>
  </table>
  <@c.page /> </div>
</body>
</html>
