<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunsoftware.mapper.FlightMapper" >
  <resultMap id="BaseResultMap" type="com.kunsoftware.entity.Flight" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="instruction" property="instruction" jdbcType="VARCHAR" />
    <result column="price_instruction" property="priceInstruction" jdbcType="VARCHAR" />
    <result column="start_country" property="startCountry" jdbcType="VARCHAR" />
    <result column="start_city" property="startCity" jdbcType="VARCHAR" />
    <result column="arrive_country" property="arriveCountry" jdbcType="VARCHAR" />
    <result column="arrive_city" property="arriveCity" jdbcType="VARCHAR" />
    <result column="arrive_destination" property="arriveDestination" jdbcType="INTEGER" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="adult_price" property="adultPrice" jdbcType="DECIMAL" />
    <result column="child_price" property="childPrice" jdbcType="DECIMAL" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, instruction, price_instruction, start_country, start_city, arrive_country, 
    arrive_city, arrive_destination, deadline, adult_price, child_price, enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from flight
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from flight
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kunsoftware.entity.Flight" >
    insert into flight (id, name, instruction, 
      price_instruction, start_country, start_city, 
      arrive_country, arrive_city, arrive_destination, 
      deadline, adult_price, child_price, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{instruction,jdbcType=VARCHAR}, 
      #{priceInstruction,jdbcType=VARCHAR}, #{startCountry,jdbcType=VARCHAR}, #{startCity,jdbcType=VARCHAR}, 
      #{arriveCountry,jdbcType=VARCHAR}, #{arriveCity,jdbcType=VARCHAR}, #{arriveDestination,jdbcType=INTEGER}, 
      #{deadline,jdbcType=TIMESTAMP}, #{adultPrice,jdbcType=DECIMAL}, #{childPrice,jdbcType=DECIMAL}, 
      #{enable,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kunsoftware.entity.Flight" >
    insert into flight
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="instruction != null" >
        instruction,
      </if>
      <if test="priceInstruction != null" >
        price_instruction,
      </if>
      <if test="startCountry != null" >
        start_country,
      </if>
      <if test="startCity != null" >
        start_city,
      </if>
      <if test="arriveCountry != null" >
        arrive_country,
      </if>
      <if test="arriveCity != null" >
        arrive_city,
      </if>
      <if test="arriveDestination != null" >
        arrive_destination,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="adultPrice != null" >
        adult_price,
      </if>
      <if test="childPrice != null" >
        child_price,
      </if>
      <if test="enable != null" >
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="instruction != null" >
        #{instruction,jdbcType=VARCHAR},
      </if>
      <if test="priceInstruction != null" >
        #{priceInstruction,jdbcType=VARCHAR},
      </if>
      <if test="startCountry != null" >
        #{startCountry,jdbcType=VARCHAR},
      </if>
      <if test="startCity != null" >
        #{startCity,jdbcType=VARCHAR},
      </if>
      <if test="arriveCountry != null" >
        #{arriveCountry,jdbcType=VARCHAR},
      </if>
      <if test="arriveCity != null" >
        #{arriveCity,jdbcType=VARCHAR},
      </if>
      <if test="arriveDestination != null" >
        #{arriveDestination,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="adultPrice != null" >
        #{adultPrice,jdbcType=DECIMAL},
      </if>
      <if test="childPrice != null" >
        #{childPrice,jdbcType=DECIMAL},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kunsoftware.entity.Flight" >
    update flight
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="instruction != null" >
        instruction = #{instruction,jdbcType=VARCHAR},
      </if>
      <if test="priceInstruction != null" >
        price_instruction = #{priceInstruction,jdbcType=VARCHAR},
      </if>
      <if test="startCountry != null" >
        start_country = #{startCountry,jdbcType=VARCHAR},
      </if>
      <if test="startCity != null" >
        start_city = #{startCity,jdbcType=VARCHAR},
      </if>
      <if test="arriveCountry != null" >
        arrive_country = #{arriveCountry,jdbcType=VARCHAR},
      </if>
      <if test="arriveCity != null" >
        arrive_city = #{arriveCity,jdbcType=VARCHAR},
      </if>
      <if test="arriveDestination != null" >
        arrive_destination = #{arriveDestination,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="adultPrice != null" >
        adult_price = #{adultPrice,jdbcType=DECIMAL},
      </if>
      <if test="childPrice != null" >
        child_price = #{childPrice,jdbcType=DECIMAL},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kunsoftware.entity.Flight" >
    update flight
    set name = #{name,jdbcType=VARCHAR},
      instruction = #{instruction,jdbcType=VARCHAR},
      price_instruction = #{priceInstruction,jdbcType=VARCHAR},
      start_country = #{startCountry,jdbcType=VARCHAR},
      start_city = #{startCity,jdbcType=VARCHAR},
      arrive_country = #{arriveCountry,jdbcType=VARCHAR},
      arrive_city = #{arriveCity,jdbcType=VARCHAR},
      arrive_destination = #{arriveDestination,jdbcType=INTEGER},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      adult_price = #{adultPrice,jdbcType=DECIMAL},
      child_price = #{childPrice,jdbcType=DECIMAL},
      enable = #{enable,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getFlightListPage" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from flight where 1=1 
    <if test="arriveDestination != null and arriveDestination != ''">
		AND arrive_destination = #{arriveDestination,jdbcType=VARCHAR}
	</if>
    
    order by id DESC
  </select>
</mapper>