<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunsoftware.mapper.OrdersAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.kunsoftware.entity.OrdersAttachment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orders_id" property="ordersId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="front_desk" property="frontDesk" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="deal_date" property="dealDate" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orders_id, name, front_desk, file_path, deal_date, user_id, user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orders_attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders_attachment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kunsoftware.entity.OrdersAttachment" >
    insert into orders_attachment (id, orders_id, name, 
      front_desk, file_path, deal_date, 
      user_id, user_name)
    values (#{id,jdbcType=INTEGER}, #{ordersId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{frontDesk,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{dealDate,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kunsoftware.entity.OrdersAttachment" >
    insert into orders_attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ordersId != null" >
        orders_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="frontDesk != null" >
        front_desk,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="dealDate != null" >
        deal_date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordersId != null" >
        #{ordersId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="frontDesk != null" >
        #{frontDesk,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null" >
        #{dealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kunsoftware.entity.OrdersAttachment" >
    update orders_attachment
    <set >
      <if test="ordersId != null" >
        orders_id = #{ordersId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="frontDesk != null" >
        front_desk = #{frontDesk,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null" >
        deal_date = #{dealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kunsoftware.entity.OrdersAttachment" >
    update orders_attachment
    set orders_id = #{ordersId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      front_desk = #{frontDesk,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      deal_date = #{dealDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getOrdersAttachmentListAll" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from orders_attachment where 1=1 
     and orders_id = #{ordersId,jdbcType=INTEGER}
     <if test="frontDesk != null and frontDesk != ''">
		AND front_desk = #{frontDesk,jdbcType=VARCHAR}
	</if>
    order by id DESC
  </select>
</mapper>