<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunsoftware.mapper.OrdersCashMapper" >
  <resultMap id="BaseResultMap" type="com.kunsoftware.entity.OrdersCash" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orders_id" property="ordersId" jdbcType="INTEGER" />
    <result column="payee_amount" property="payeeAmount" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="confirm" property="confirm" jdbcType="VARCHAR" />
    <result column="deal_date" property="dealDate" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orders_id, payee_amount, remark, confirm, deal_date, user_id, user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orders_cash
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders_cash
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kunsoftware.entity.OrdersCash" >
    insert into orders_cash (id, orders_id, payee_amount, 
      remark, confirm, deal_date, 
      user_id, user_name)
    values (#{id,jdbcType=INTEGER}, #{ordersId,jdbcType=INTEGER}, #{payeeAmount,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{confirm,jdbcType=VARCHAR}, #{dealDate,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kunsoftware.entity.OrdersCash" >
    insert into orders_cash
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ordersId != null" >
        orders_id,
      </if>
      <if test="payeeAmount != null" >
        payee_amount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="confirm != null" >
        confirm,
      </if>
      <if test="dealDate != null" >
        deal_date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordersId != null" >
        #{ordersId,jdbcType=INTEGER},
      </if>
      <if test="payeeAmount != null" >
        #{payeeAmount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="confirm != null" >
        #{confirm,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null" >
        #{dealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kunsoftware.entity.OrdersCash" >
    update orders_cash
    <set >
      <if test="ordersId != null" >
        orders_id = #{ordersId,jdbcType=INTEGER},
      </if>
      <if test="payeeAmount != null" >
        payee_amount = #{payeeAmount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="confirm != null" >
        confirm = #{confirm,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null" >
        deal_date = #{dealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kunsoftware.entity.OrdersCash" >
    update orders_cash
    set orders_id = #{ordersId,jdbcType=INTEGER},
      payee_amount = #{payeeAmount,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      confirm = #{confirm,jdbcType=VARCHAR},
      deal_date = #{dealDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getOrdersCashListAll" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from orders_cash where 1=1 
     and orders_id = #{ordersId,jdbcType=INTEGER}
    order by id DESC
  </select>
</mapper>