<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunsoftware.mapper.ProductIntroduceMapper" >
  <resultMap id="BaseResultMap" type="com.kunsoftware.entity.ProductIntroduce" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="expand" property="expand" jdbcType="VARCHAR" />
    <result column="front_desk" property="frontDesk" jdbcType="VARCHAR" />
    <result column="order_value" property="orderValue" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kunsoftware.entity.ProductIntroduce" extends="BaseResultMap" >
    <result column="introduce" property="introduce" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, title, expand, front_desk, order_value
  </sql>
  <sql id="Blob_Column_List" >
    introduce
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product_introduce
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_introduce
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kunsoftware.entity.ProductIntroduce" >
    insert into product_introduce (id, product_id, title, 
      expand, front_desk, order_value, 
      introduce)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{expand,jdbcType=VARCHAR}, #{frontDesk,jdbcType=VARCHAR}, #{orderValue,jdbcType=INTEGER}, 
      #{introduce,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kunsoftware.entity.ProductIntroduce" >
    insert into product_introduce
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="expand != null" >
        expand,
      </if>
      <if test="frontDesk != null" >
        front_desk,
      </if>
      <if test="orderValue != null" >
        order_value,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="expand != null" >
        #{expand,jdbcType=VARCHAR},
      </if>
      <if test="frontDesk != null" >
        #{frontDesk,jdbcType=VARCHAR},
      </if>
      <if test="orderValue != null" >
        #{orderValue,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kunsoftware.entity.ProductIntroduce" >
    update product_introduce
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="expand != null" >
        expand = #{expand,jdbcType=VARCHAR},
      </if>
      <if test="frontDesk != null" >
        front_desk = #{frontDesk,jdbcType=VARCHAR},
      </if>
      <if test="orderValue != null" >
        order_value = #{orderValue,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kunsoftware.entity.ProductIntroduce" >
    update product_introduce
    set product_id = #{productId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      expand = #{expand,jdbcType=VARCHAR},
      front_desk = #{frontDesk,jdbcType=VARCHAR},
      order_value = #{orderValue,jdbcType=INTEGER},
      introduce = #{introduce,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kunsoftware.entity.ProductIntroduce" >
    update product_introduce
    set product_id = #{productId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      expand = #{expand,jdbcType=VARCHAR},
      front_desk = #{frontDesk,jdbcType=VARCHAR},
      order_value = #{orderValue,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getProductIntroduceListAll" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
     ,
    <include refid="Blob_Column_List" />
    from product_introduce where 1=1 
    and product_id = #{productId,jdbcType=INTEGER}
    order by id ASC
  </select>
</mapper>