<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>修改密码</title>
<@c.css />
<link href="../../../../css/style.css" rel="stylesheet" type="text/css">
<@c.javascript />
<script>
    seajs.use("front/m/member-password");
</script>
</head>

<body>
<form name="saveFrm" id="saveFrm" method="post" action="password.json">
<@c.top currentIndex="1" />
<div class="main main-row1 main-bg2"> </div>
<table width="1280" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="162" bgcolor="#ebeae6">&nbsp;</td>
    <td width="955"><table width="955" border="0" cellspacing="0" cellpadding="0" class="member">
        <tr>
          <td width="170" height="520" valign="top" bgcolor="#FFFFFF"><@c.member_left currentIndex="4" /></td>
          <td width="5" valign="top" bgcolor="#EBEAE6"></td>
          <td width="780" valign="top" bgcolor="#FFFFFF" class="groundInfo"><div class="member-s3">
              <div class="member-s4">修改密码</div>
              <div class="member-s5">
                <table width="740" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="20" colspan="2" align="left">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="76" height="10" align="right"></td>
                    <td></td>
                  </tr>
                </table>
                <table border="0" width="100%" align="center" cellspacing="0" class="table table-striped table-bordered table-form">
                  <tr>
                    <th width="15%" height="30" align="right"><span class="error">*</span>原始密码  </th>
                    <td width="3%"></td>
                    <td width="82%"><input type="text" class="required" name="password" id="password" placeholder="新密码" value=""></td>
                  </tr>
                  <tr>
                    <th height="30" align="right"><span class="error">*</span>新密码 </th>
                    <td></td>
                    <td><input type="text" class="required" name="newpassword" id="newpassword" placeholder="新密码" value=""></td>
                  </tr>
                  
                      <th height="30" align="right"><span class="error">*</span>重复输入新密码</th>
                      <td></td>
                    <td><input type="text" class="" name="newpassword2" id="newpassword2" placeholder="重复输入新密码" value=""></td>
                  
                  <tr>
                    <td height="35"></td>
                    <td></td>
                    <td><button type="button" class="saveBtn member-btn1"> <span class="glyphicon glyphicon-floppy-saved"></span> 保存 </button></td>
                  </tr>
                </table>
              </div>
            </div></td>
        </tr>
      </table></td>
    <td width="163" bgcolor="#ebeae6">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#EBEAE6">&nbsp;</td>
    <td bgcolor="#EBEAE6"></td>
    <td bgcolor="#EBEAE6">&nbsp;</td>
  </tr>
</table>
<div class="main main-row1 main-bg2"> </div>
<@c.bottom/>
</form> 
</body>
</html>
