<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>在线支付</title>
<@c.css />
 
<link href="../../../../css/style.css" rel="stylesheet" type="text/css">
<@c.javascript />
<script>
    seajs.use("front/m/order-pay");  
</script>
</head>

<body>
<@c.top currentIndex="1" /> 
 
<div class="main main-row1 main-bg2"> </div>

<table width="1280" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="162" bgcolor="#ebeae6">&nbsp;</td>
    <td width="955"><table width="955" border="0" cellspacing="0" cellpadding="0" class="member">
        <tr>
          <td width="170" height="520" valign="top" bgcolor="#FFFFFF">
          <@c.member_left currentIndex="2" />
          </td>
          <td width="5" valign="top" bgcolor="#EBEAE6"></td>
          <td width="780" valign="top" bgcolor="#FFFFFF" class="groundInfo">
          <div class="member-s3">
            <div class="member-s4">在线支付</div>
            <div class="member-s5">雅米旅行订单支持支付宝在线支付，请选择订单进行支付。<br>
            一下为你的所有订单
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="member-table">
               <thead>
               <tr>
                 <th width="14%">订单编号</th>
                 <th width="28%">产品名称</th>
                 <th width="14%">出发日期</th>
                 <th width="14%">订单金额</th>
                 <th width="14%">定金金额</th> 
                 <th width="16%">在线支付</th>
               </tr>
               </thead>
               <#list retList as item>
               <tr>
                 <td>${item.code!}</td>
                 <td><a href="${request.contextPath}/product/detail?id=${item.productId}" target="_blank" class="active">${item.productName!}</a></td>
                 <td>2014-01-22</td>
                 <td>${item.amount!}</td>
                 <td>${item.earnest!}</td> 
                 <td align="center"><a href="payD?id=${item.id}" class="active">支付</a></td>
               </tr>
               </#list>
             </table>
             <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td width="62%">&nbsp;</td>
                 <td width="38%" align="right"><div class="member-s6" style="float:right"><@c.page /><div></td>
               </tr>
             </table>

          </div>
          </td>
        </tr>
      </table></td>
    <td width="163" bgcolor="#ebeae6">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#EBEAE6">&nbsp;</td>
    <td bgcolor="#EBEAE6"></td>
    <td bgcolor="#EBEAE6">&nbsp;</td>
  </tr>
</table>
 <div class="main main-row1 main-bg2"> </div>
<@c.bottom/>
</body>
</html>
