<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<@c.css />
<link href="../../../../css/style.css" rel="stylesheet" type="text/css">
<@c.javascript />
<script>
    seajs.use("front/m/orderD");  
</script>
</head>

<body>
<div id="userInfo" class="modal">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-body">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
            <div class="member-s4">订单详情</div>
            <table width="740" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="30" colspan="2" align="left">&nbsp;&nbsp;&nbsp;&nbsp;你正在查看编号为 <span class="member-s7">${bean.orders.code!}</span> 的订单详情</td>
                </tr>
                <tr>
                  <td width="76" height="30" align="right">产品名称：</td>
                  <td width="664"><a href="#" class="active">巴厘岛宝格丽豪华自由行</a></td>
                </tr>
                <tr>
                  <td height="30" align="right">出发日期：</td>
                  <td>2014-02-20</td>
                </tr>
                <tr>
                  <td height="30" align="right">类别：</td>
                  <td><span class="member-s7">${name} | ${decribe}</span></td>
                </tr>
                <#list bean.ordersDetail as item>
                <tr>
                  <td height="30" align="right"><@ValueSetWrite code="ordersdetail_type" value="${item.type!}" />
                    ：</td>
                  <td>${item.unitPrice!}元 x ${item.quantity!}</td>
                </tr>
                </#list>
                <tr>
                  <td height="30" align="right">订单备注：</td>
                  <td>${bean.orders.guestRemark}</td>
                </tr>
                <tr>
                  <td height="30" align="right">联系人：</td>
                  <td><form name="linkmanFrm" id="linkmanFrm2" method="post" action="orderEdit.json">
                      <span class="userInfo">${bean.orders.linkman}</span> <span class="userInput hide">
                      <input type="text" class="required" name="linkman2" id="linkman2" placeholder="联系人" value="${bean.orders.linkman}">
                      <input type="hidden" name="id2" id="id2" value="${bean.orders.id}">
                      <a href="#" class="linkmanBtn">确定</a> <a href="#" class="cancel">取消</a></span> &nbsp;&nbsp;<a href="#" class="active edit">修改</a>
                    </form></td>
                </tr>
                <tr>
                  <td height="30" align="right">联系手机：</td>
                  <td><form name="linkmanMobileFrm" id="linkmanMobileFrm2" method="post" action="orderEdit.json">
                      <span class="userInfo">${bean.orders.linkmanMobile}</span> <span class="userInput hide">
                      <input type="text" class="required" name="linkmanMobile2" id="linkmanMobile2" placeholder="联系人" value="${bean.orders.linkmanMobile}">
                      <input type="hidden" name="id2" id="id2" value="${bean.orders.id}">
                      <a href="#" class="linkmanMobileBtn">确定</a> <a href="#" class="cancel">取消</a></span> &nbsp;&nbsp;<a href="#" class="active edit">修改</a>
                    </form></td>
                </tr>
              </table> 
              
              </td>
          </tr>
          <tr>
          <td> <div class="userInput">
         <a href="#" class="linkmanMobileBtn">确定</a> 
         <a href="#" class="cancel" data-dismiss="modal">取消</a>
        
      </div></td>
          </tr>
        </table>
      </div> 
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<!-- /.modal -->

<@c.top currentIndex="1" />
<table width="1280" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="162" bgcolor="#ebeae6">&nbsp;</td>
    <td width="955"><table width="955" border="0" cellspacing="0" cellpadding="0" class="member">
        <tr>
          <td width="170" height="520" valign="top" bgcolor="#FFFFFF"><@c.member_left currentIndex="1" />
          <td width="5" valign="top" bgcolor="#EBEAE6"></td>
          <td width="780" valign="top" bgcolor="#FFFFFF" class="groundInfo"><div class="member-s3">
              <div class="member-s4">订单详情</div>
              <div class="member-s5">
                <table width="740" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" colspan="2" align="left">&nbsp;&nbsp;&nbsp;&nbsp;你正在查看编号为 <span class="member-s7">${bean.orders.code!}</span> 的订单详情</td>
                  </tr>
                  <tr>
                    <td width="76" height="30" align="right">产品名称：</td>
                    <td width="664"><a href="#" class="active">巴厘岛宝格丽豪华自由行</a></td>
                  </tr>
                  <tr>
                    <td height="30" align="right">出发日期：</td>
                    <td>2014-02-20</td>
                  </tr>
                  <tr>
                    <td height="30" align="right">类别：</td>
                    <td><span class="member-s7">${name} | ${decribe}</span></td>
                  </tr>
                  <#list bean.ordersDetail as item>
                  <tr>
                    <td height="30" align="right"><@ValueSetWrite code="ordersdetail_type" value="${item.type!}" />
                      ：</td>
                    <td>${item.unitPrice!}元 x ${item.quantity!}</td>
                  </tr>
                  </#list>
                  <tr>
                    <td height="30" align="right">订单备注：</td>
                    <td>${bean.orders.guestRemark}</td>
                  </tr>
                  <tr>
                    <td height="30" align="right">联系人：</td>
                    <td><form name="linkmanFrm" id="linkmanFrm" method="post" action="orderEdit.json">
                        <span class="userInfo">${bean.orders.linkman}</span> <span class="userInput hide">
                        <input type="text" class="required" name="linkman" id="linkman" placeholder="联系人" value="${bean.orders.linkman}">
                        <input type="hidden" name="id" id="id" value="${bean.orders.id}">
                        <a href="#" class="linkmanBtn">确定</a> <a href="#" class="cancel">取消</a></span> &nbsp;&nbsp;<a href="#" class="active edit">修改</a>
                      </form></td>
                  </tr>
                  <tr>
                    <td height="30" align="right">联系手机：</td>
                    <td><form name="linkmanMobileFrm" id="linkmanMobileFrm" method="post" action="orderEdit.json">
                        <span class="userInfo">${bean.orders.linkmanMobile}</span> <span class="userInput hide">
                        <input type="text" class="required" name="linkmanMobile" id="linkmanMobile" placeholder="联系人" value="${bean.orders.linkmanMobile}">
                        <input type="hidden" name="id" id="id" value="${bean.orders.id}">
                        <a href="#" class="linkmanMobileBtn">确定</a> <a href="#" class="cancel">取消</a></span> &nbsp;&nbsp;<a href="#" class="active edit">修改</a>
                      </form></td>
                  </tr>
                </table>
                <div class="member-s8">订单合计：<span class="member-s10">￥6800</span> 元 </div>
                <div class="member-s9">定金金额：<span class="member-s10">￥6800</span> 元</div>
                <div class="member-s4">跟踪状态</div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="member-table">
                  <thead>
                    <tr>
                      <th width="20%" align="left">时间</th>
                      <th width="80%" align="left">状态描述</th>
                    </tr>
                  </thead>
                  <#list bean.ordersStatus as item>
                  <tr>
                    <td><#if item.dealDate??>${item.dealDate?string('yyyy-MM-dd HH:mm')}  </#if> </td>
                    <td>${item.statusDescribe!}</td>
                  </tr>
                  </#list>
                </table>
                <div class="member-s4">游客名单</div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="member-table">
                  <thead>
                    <tr>
                      <th width="8%" align="left">姓名</th>
                      <th width="6%" align="left">性别</th>
                      <th width="10%" align="left">出生日期</th>
                      <th width="8%" align="left">证件类型</th>
                      <th width="8%" align="left">证件号码</th>
                      <th width="10%" align="left">证件有效截止日期</th>
                      <th width="8%" align="left">护照扫描件</th>
                      <th width="6%" align="left">扫描件</th>
                    </tr>
                  </thead>
                  <#list bean.ordersTravel as item>
                  <tr>
                    <td>${item.name!}</td>
                    <td>${item.sex!}</td>
                    <td><#if item.birthdate??>${item.birthdate?string('yyyy-MM-dd')}  </#if> </td>
                    <td><@ValueSetWrite code="certificate_type" value="${item.certificateType!}" /></td>
                    <td>${item.certificateNum!}</td>
                    <td><#if item.certificateEndDate??>${item.certificateEndDate?string('yyyy-MM-dd')}  </#if> </td>
                    <td><#if item.imagePath??> <a href="${request.contextPath}/images/uploadDir${item.imagePath!}" target="_blank">查看</a> <#else> <a href="#">请上传护照扫描件</a> </#if> </td>
                    <td><a href="###" class="active editUser">编辑</a></td>
                  </tr>
                  </#list>
                </table>
                <div class="member-s4">附件下载</div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="member-table">
                  <thead>
                    <tr>
                      <th width="90%" align="left">附近名称</th>
                      <th width="10%" align="left">下载</th>
                    </tr>
                  </thead>
                  <#list bean.ordersAttachment as item>
                  <tr>
                    <td>${item.name!}</td>
                    <td><a href="${request.contextPath}/images/uploadDir${item.filePath!}" target="_blank" class="active">下载</a></td>
                  </tr>
                  </#list>
                </table>
              </div>
            </div></td>
        </tr>
      </table></td>
    <td width="163" bgcolor="#ebeae6">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#EBEAE6">&nbsp;</td>
    <td bgcolor="#EBEAE6"></td>
    <td bgcolor="#EBEAE6">&nbsp;</td>
  </tr>
</table>
<div class="main main-row1 main-bg2"> </div>
<@c.bottom/>
</body>
</html>
