<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产品介绍管理 -
<@cm.sysName />
</title>
<@cm.css />
<@cm.css_editor/>
<@cm.javascript />
<script>
    seajs.use("manager/productintroduce/productintroduce-add");  
</script>
</head>

<body>
<div class="main">
  <@cm.top />
  <form name="saveFrm" id="saveFrm" method="post" action="add.json">
    <div class="panel panel-default">
      <div class="panel-heading"> 新增介绍 </div>
      <table border="0" width="100%" align="center" cellspacing="0" class="table table-striped table-bordered table-form">
        <tr>
          <th width="15%">标题 <span class="error">*</span></th>
          <td width="35%"><input type="text" class="form-control input-sm required" name="title"  id="title" placeholder="标题" value=""></td>
          <th width="15%">是否默认展开 <span class="error">*</span></th>
          <td width="35%"><@ValueSet name="expand" code="yes_no_r" value="" /></td>
        </tr>
        <tr>
          <th>是否前台显示 <span class="error">*</span></th>
          <td><@ValueSet name="frontDesk" code="yes_no_r" value="" /></td>
          <th>排序 <span class="error">*</span></th>
          <td><input name="orderValue" type="text" class="form-control input-sm required number" id="orderValue" placeholder="排序" value="" ></td>
        </tr> 
        <tr>
          <th>内容介绍</th>
          <td colspan="3"> 
          <textarea name="introduce" id="introduce" class="form-control" rows="3"></textarea>
          
          </td>
        </tr>
         
        <tr>
          <td colspan="4" align="center"><input type="hidden" name="id" id="id" value="">
            <input type="hidden" name="productId" id="productId" value="${RequestParameters.productId!}">
            <button type="button" class="saveBtn btn btn-primary btn-sm"> <span class="glyphicon glyphicon-floppy-saved"></span> 保存 </button>
            <a href="list?productId=${RequestParameters.productId!}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-chevron-left"></span> 返回</a></td>
        </tr>
      </table>
    </div>
  </form>
</div>
</body>
</html>
