<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>地接管理 -
<@cm.sysName />
</title>
<@cm.css />
<@cm.javascript />
<script>
    seajs.use("manager/ground/ground-edit");
</script>
</head>

<body>
<div class="main">
  <@cm.top />
  <form action="edit.json" method="post" enctype="multipart/form-data" name="saveFrm" id="saveFrm">
    <div class="panel panel-default">
      <div class="panel-heading"> 编辑地接 </div>
      <table border="0" width="100%" align="center" cellspacing="0" class="table table-striped table-bordered table-form">
        <tr>
          <th width="15%">地接公司名称 <span class="error">*</span></th>
          <td width="35%"><input type="text" class="form-control input-sm required" name="name"  id="name" placeholder="地接公司名称" value="${entity.name}"></td>
          <th>目的地 <span class="error">*</span> </th>
          <td><select name="destination" id="destination" class="form-control input-sm required">
              <option value="">-请选择-</option>
              <@ValueSet code="destination" value="${entity.destination!}" />
            </select></td>
        </tr>
        <tr>
          <th width="15%">类型 <span class="error">*</span></th>
          <td width="35%"><select name="type" id="type" class="form-control input-sm required">
              <option value="">-请选择-</option>
              <@ValueSet code="ground_type" value="${entity.type!}" />
            </select></td>
          <th>一句话描述 <span class="error">*</span></th>
          <td ><input type="text" class="form-control input-sm required" name="groundDescribe"  id="groundDescribe" placeholder="一句话描述" value="${entity.groundDescribe!}"></td>
        </tr>
        <tr>
          <th>联系人 <span class="error">*</span> </th>
          <td><input type="text" class="form-control input-sm required" name="linkMain"  id="linkMain" placeholder="联系人" value="${entity.linkMain!}"></td>
          <th>备注 <span class="error">*</span> </th>
          <td><input type="text" class="form-control input-sm required" name="remark"  id="remark" placeholder="备注" value="${entity.remark!}"></td>
        <tr>
          <th>Logo <span class="error">*</span> </th>
          <td><div class="row">
              <div class="col-xs-6 col-md-3"> <a href="#" class="thumbnail"> <img alt="图片" src="${request.contextPath}/images/uploadDir${entity.imagePath!}" width="180" height="100" id="imagePathShow"> </a> </div>
            </div>
            <input type="file" name="groundImageFile" id="groundImageFile"></td>
          <th>资质图片 <span class="error">*</span> </th>
          <td><div class="row">
              <div class="col-xs-6 col-md-3"> <a href="#" class="thumbnail"> <img alt="图片" src="${request.contextPath}/images/uploadDir${entity.qualificationImagePath!}" width="180" height="100" id="qualificationImageShow"> </a> </div>
            </div>
            <input type="file" name="qualificationImage" id="qualificationImage"></td>
        </tr>
        <tr>
          <td colspan="4" align="center"><input type="hidden" name="id" id="id" value="${entity.id!}">
            <button type="button" class="saveBtn btn btn-primary btn-sm"> <span class="glyphicon glyphicon-floppy-saved"></span> 保存 </button>
            <a href="list" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-chevron-left"></span> 返回</a></td>
        </tr>
      </table>
    </div>
  </form>
</div>
</body>
</html>
