<#macro test>     
  hello word    
</#macro>  

<#macro sysName>     
旅游网站   
</#macro>

<#macro css>
<link rel="stylesheet" type="text/css" href="${request.contextPath}/css/style.css" />
</#macro> 
<#macro css_bootstrap>
<link href="${request.contextPath}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</#macro> 

<#macro javascript> 
<script src="${request.contextPath}/js/seajs/2.1.1/sea.js"></script>
<script src="${request.contextPath}/js/seajs/2.1.1/app.js"></script>
</#macro>  

<#macro top currentIndex>
<div class="main top">
  <div class="top-base top-col1"></div>
  <div class="top-base top-padding-right"><a href="${request.contextPath}"><img src="${request.contextPath}/images/image7.jpg"></a></div>
  <div class="top-base top-padding"><a class="a1 <#if currentIndex=='1'>current</#if>" href="${request.contextPath}/index" >首页</a></div>
  <div class="top-base top-padding md indexDestination">
  <a class="a1 <#if currentIndex=='2'>current</#if>" href="#" >目的地</a>
  <div class="arr"><img src="${request.contextPath}/images/arr.png" width="17" height="9"></div>
  <div class="d1 indexDestinationList">
    <ul>
      <#list destinationList as item>
      <li>
      <a href="${request.contextPath}/product/list?arriveDestination=${item.value!}"><img src="${request.contextPath}/images/uploadDir${item.attr!}" width="154" height="75"> 
      ${item.name!}</a>
      </li>
      </#list> 
    </ul>
  </div>
  </div>
  <div class="top-base top-padding"><a class="a1 <#if currentIndex=='3'>current</#if>" href="${request.contextPath}/product/list-m">蜜月婚典</a></div>
  <div class="top-base top-padding"><a class="a1 <#if currentIndex=='4'>current</#if>" href="${request.contextPath}/customize/info1" >私家定制</a></div>
  <div class="top-base top-padding"><a class="a1 <#if currentIndex=='5'>current</#if>" href="#" >相册游记</a></div>
  <div class="top-base top-padding"><a class="a1 <#if currentIndex=='6'>current</#if>" href="${request.contextPath}/yamidiary/list" >雅米日记</a></div>
  <div class="top-base top-col2"></div>
  <div class="top-login"><a href="${request.contextPath}/login"><img src="${request.contextPath}/images/image8.jpg" /></a></div>
  <div class="top-reg"><a href="${request.contextPath}/reg"><img src="${request.contextPath}/images/image9.jpg"></a></div>
</div>
</#macro> 
<#macro top_p currentIndex>
<div class="main top product-top">
  <div class="top-base top-col1"></div>
  <div class="top-base top-padding-right"><a href="${request.contextPath}"><img src="${request.contextPath}/images/image7.jpg"></a></div>
  <div class="top-base top-padding"><a class="a1 a2 <#if currentIndex=='1'>current</#if>" href="${request.contextPath}/index" >首页</a></div>
  
  <div class="top-base top-padding"><a class="a1" href="#" <#if currentIndex=='3'>class="current"</#if>>巴厘岛</a></div>
  <div class="top-base top-padding"><a class="a1" href="#" <#if currentIndex=='4'>class="current"</#if>>吉普岛</a></div>
  <div class="top-base top-padding"><a class="a1" href="#" <#if currentIndex=='5'>class="current"</#if>>马尔代夫</a></div>
  <div class="top-base top-padding"><a class="a1" href="#" <#if currentIndex=='6'>class="current"</#if>>长滩岛</a></div>
  <div class="top-base top-padding"><a class="a1" href="#" <#if currentIndex=='6'>class="current"</#if>>沙巴</a></div>
  <div class="top-base top-col2">
    <div class="top-col3">
     <form><input type="text" name="textfield" style="" id="textfield">
        <span class="phTxt"> 输入目的地名字 </span>  </form>
    </div>
    <div class="top-col4">
      
    </div>
  </div>
  <div class="top-login"><a href="${request.contextPath}/login"><img src="${request.contextPath}/images/image8.jpg" /></a></div>
  <div class="top-reg"><a href="${request.contextPath}/reg"><img src="${request.contextPath}/images/image9.jpg"></a></div>
</div>
</#macro> 

<#macro bottom> 
<div class="main bottom">
  <form>
    <div class="bottom-m1"></div>
    <div class="bottom-m2">
      <div class="bottom-m2-s1"> <img src="${request.contextPath}/images/bottom1.jpg" width="231" height="95"> </div>
      <div class="bottom-m2-s2">
        <input type="text" name="textfield" style="" id="textfield">
        <span class="phTxt"> 请输入你的邮箱订阅促销信息 </span> </div>
      <div class="bottom-m2-s3"><img src="${request.contextPath}/images/bottom2.jpg" width="50" height="24"></div>
    </div>
    <div class="bottom-m3">
      <div class="bottom-m3-s1">订单状态查询</div>
      <div class="bottom-m3-s2">
        <input type="text" name="textfield" style="" id="textfield">
        <span class="phTxt"> 请输入你的订单编号 </span> </div>
      <div class="bottom-m3-s2">
        <input type="text" name="textfield" style="" id="textfield">
        <span class="phTxt"> 请输入你的手机号码 </span> </div>
      <div class="bottom-m3-s3"><img src="${request.contextPath}/images/bottom2.jpg" width="50" height="24"></div>
    </div>
    <div class="bottom-m4">
      <div class="bottom-m4-s1"><img src="${request.contextPath}/images/bottom3.jpg" width="267" height="37"></div>
      <ul>
        <li><a href="${request.contextPath}/article/detail?id=2">关于雅米</a></li>
        <li><a href="${request.contextPath}/article/detail?id=1">联系我们</a></li>
        <li><a href="#">订单查询</a></li>
        <li><a href="#">合作伙伴</a></li>
        <li><a href="#">免测声明</a></li>
        <li><a href="#">帮助中心</a></li>
      </ul>
    </div>
  </form>
</div>
</#macro>

<#macro bottom_p> 
<div class="main bottom product-bottom">
  <div class="bottom-m5"> 
   <a href="${request.contextPath}/article/detail?id=2">关于雅米</a> |
   <a href="${request.contextPath}/article/detail?id=1">联系我们</a> |
   <a href="#">订单查询</a> |
   <a href="#">合作伙伴</a> |
   <a href="#">免测声明</a> |
   <a href="#">帮助中心</a>&nbsp;&nbsp;&nbsp;&nbsp;
   <img src="${request.contextPath}/images/img7.jpg" width="145" height="27" /><br />
       2014 yamiclub.com All Rights Reserved
  </div>
</div>
</#macro>
<#macro page> 
${pageInfo!}
${pageParam!}
</#macro>